<div class="span12">
  <%= simple_form_for(@admin_setting) do |f| %>
    <%= f.error_notification %>

    <div>
      <%= f.input :key, :input_html => {:disabled => (!is_master_instance? && ! @admin_setting.new_record?)} %>

      <%= f.input :value, :input_html => {:rows => 5 } %>

      <%= f.input :change_comment, :input_html => { :rows => 3, :disabled => (!is_master_instance? && @admin_setting) } %><br />

      <%= f.association :record_status, :label => "Status",
                        :collection => (is_master_instance? ? @admin_setting.record_status_collection : RecordStatus.all),
                        :input_html => {:class => "record_status"},
                        :selected => (admin_setting_selected_status.nil? ? nil : admin_setting_selected_status.id),
                        :disabled => (@admin_setting.is_retired? || !is_master_instance?) %><br />

      <%= f.input :custom_value, :input_html => {:class => "custom_value"}, :disabled => (true unless @admin_setting.is_custom?) %>
    </div>

    <div class="actions">
      <% if can? :update, @admin_setting %>
        <%= f.submit "Save", :class => "btn btn-success" %>
        <%= f.submit "Apply", :class => "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>