<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:administration) %></a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t('new_admin_settings'), new_admin_setting_path, :class => 'btn' %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:key) %></th>
        <th><%= I18n.t(:value) %></th>
        <th><%= I18n.t(:record_status) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <% @admin_settings.each do |admin_setting| %>
          <tr>
            <td><%= admin_setting.key %></td>

            <% unless admin_setting.key=='session_maximum_lifetime' || admin_setting.key=='session_inactivity_timeout' %>
                <td><%= admin_setting.value %></td>
            <% end %>
            <% if admin_setting.key=='session_maximum_lifetime' %>
                <td><%= I18n.t('datetime.distance_in_words.x_days', :count => admin_setting.value.to_i) %></td>
            <% elsif admin_setting.key=='session_inactivity_timeout' %>
                <% if admin_setting.value.to_i==30 %>
                    <td><%= I18n.t('datetime.distance_in_words.x_minutes', :count => (admin_setting.value.to_i)) %></td>
                <% else %>
                    <td><%= I18n.t('datetime.distance_in_words.x_hours', :count => admin_setting.value.to_i) %></td>
                <% end %>
            <% end %>

            <td><%= admin_setting.record_status.name unless admin_setting.record_status.nil? %> <%= admin_setting.show_custom_value %></td>

            <td class="action">
              <%= link_to '', edit_admin_setting_path(admin_setting), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>

              <% if is_master_instance? || admin_setting.is_local_record? %>
                  <%= link_to ' ', admin_setting, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% end %>
              <% if is_master_instance? && !admin_setting.is_local_record? %>
                  <% if admin_setting.is_retired? %>
                      <%= link_to(' ', "admin_settings/#{admin_setting.id}/restore_change", confirm: I18n.t('restoring'),:class => 'icon-undo icon-large icon-border pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                  <% else %>
                      <% unless admin_setting.is_defined? %>
                          <%= link_to(' ', "admin_settings/#{admin_setting.id}/validate_change", confirm: I18n.t('validation'),:class => 'icon-ok icon-large icon-border pull-left', :style => 'color:green', :title => I18n.t('validate_title')) %>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
    </table>
  </div>
</div>