<div class="span12">
  <h1><%= I18n.t('administration') %></h1>

  <table class="table table-striped" >
    <tr>
      <th><%= I18n.t(:key) %></th>
      <th><%= I18n.t(:value) %></th>
      <th><%= I18n.t(:record_status) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @admin_settings.each do |admin_setting| %>
    <tr >
      <td><%= admin_setting.key %></td>
      <td><%= admin_setting.value %></td>
      <td><%= admin_setting.record_status.name unless admin_setting.record_status.nil? %> <%= admin_setting.show_custom_value %></td>
      <td><%= link_to '', edit_admin_setting_path(admin_setting), :class => 'icn_edit', :title => I18n.t('edit') %></td>
      <td>
          <% if (admin_setting.is_retired? && is_master_instance?) || admin_setting.is_local_record? %>
            <%= link_to '', admin_setting, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash', :title => I18n.t('delete') %>
          <% end %>
      </td>
      <td>
        <% if is_master_instance? && !admin_setting.is_local_record? %>
            <% if admin_setting.is_retired? %>
                <%= link_to(I18n.t('restore'), "admin_settings/#{admin_setting.id}/restore_change", confirm: I18n.t('restoring'), :title => I18n.t('restore_title'))%>
            <% else %>
                <% unless admin_setting.is_defined? %>
                    <%= link_to(I18n.t('validate'), "admin_settings/#{admin_setting.id}/validate_change", confirm: I18n.t('validation'), :title => I18n.t('validate_title'))%>
                <% end %>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to I18n.t('new_admin_settings'), new_admin_setting_path, :class => 'btn' %>
</div>