<div class="span4">
  <%= simple_form_for(@pbs_project_element, :remote => true) do |f| %>
    <%= f.error_notification %>

    <% unless @pbs_project_element.is_root? %>
      <%= f.input :ancestry, :as => :select, :collection => @folder_components, :label => "Parent", :selected => @pbs_project_element.parent.id %>

      <%= f.input :work_element_type_id, :as => :select, :collection => WorkElementType.all, :include_blank => false %>
    <% end %>

    <% if @pbs_project_element.link? %>
      <%= f.input :project_link, :as => :select, :collection => Project.all.map{|i| [i.title, i.id]} %>
    <% else %>
      <%= f.input :name %>
    <% end %>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-primary" %>
    </div>

  <% end %>
</div>