<div class="span5" xmlns="http://www.w3.org/1999/html">

  <%= simple_form_for(@pbs_project_element, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= hidden_field_tag :project_id, @project.id %>

    <% if @work_element_type.alias == "link" %>
      <%= f.input :project_link, :label => I18n.t('project_link'), :input_html => {:class => 'input-xlarge'}, :as => :select, :collection => Project.all.map { |i| [i.title, i.id] } %>
    <% else %>
      <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xlarge'} %>
    <% end %>

    <%= f.input :ancestry, :label => I18n.t('ancestry'), :as => :select, :collection => @folder_components, :label => 'Parent' %>
    <%= f.input :work_element_type_id, :label => I18n.t('work_element_type'), :as => :select, :collection => WorkElementType.all, :include_blank => false, :selected => @work_element_type.id %>

    <% unless @work_element_type.alias == "link" %>
      <%= I18n.t(:text_overloading_default_ratio_table) %>
      <table cellspacing="2" border=0>
        <tr>
          <td>
            <%= f.input :wbs_activity_id, :label => I18n.t(:wbs_activity), :as => :select, :collection => @project_wbs_activities.map { |i| [i.name, i.id] }, :prompt => I18n.t('helpers.select.prompt') %>
          </td>
          <td>&nbsp;</td>
          <td>
            <%= f.input :wbs_activity_ratio_id, :label => I18n.t(:label_wbs_activity_ratio), :as => :select, :collection => @pbs_wbs_activity_ratios.map { |i| [i.name, i.id] }, :prompt => I18n.t('helpers.select.prompt') %>
          </td>
        </tr>
      </table>
    <% end %>
    <table cellspacing="2" border="0">
      <tr>
        <td><%= f.input :is_completed, :label => I18n.t(:label_is_completed) %></td>
        <td> &nbsp; &nbsp;</td>
        <td><%= f.input :is_validated, :label => I18n.t(:label_is_validated) %></td>
      </tr>
    </table>
    <div class="modal-footer-left">
      <%= f.submit I18n.t('save'), :class => 'btn' %>
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t(:cancel) %></button>
    </div>
  <% end %>
</div>