//Get the current_component first
<% @current_component = current_component %>

$("#project_wbs_product_section").html("<%=raw j generate_wbs_product(@project.root_component, @project, '', 5) %>");

$(".component_name").html("<%=raw @current_component %>");
$('.component_tree ul li').hover(
        function () {
            $(this.children).css('display', 'block');
        },
        function () {
            $('.block_link').hide();
        }
);


$('.block_label, div.block_link').hover(
    function () {
        $('div.block_label.selected_pbs').css('width', 'inherit');
    },
    function () {
        $('div.block_label.selected_pbs').css('width', '100%');
    }
);

$("#pbs_list").val(<%= @current_component.nil? ? '' : @current_component.id %>);

$(".header_data").html("<h5><%= @current_component %> - <%= current_module_project %></h5>");

$('#edit_component').modal('hide');

$(".date-picker").datepicker({
    language: '<%= set_user_language %>',
    autoclose: true,
    todayHighlight: true,
    todayBtn: true
}).on("hide", function(e){
    $.ajax({
        url:"check_attribute",
        type: 'POST',
        data: "value=" + this.value + "&level=" + this.className.split(/\s/)[1] + "&est_val_id=" + $(this).data("est_val_id") + "&wbs_project_elt_id=" + $(this).data("wbs_project_elt_id")
    })
});

