<h1>Listing record_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @record_statuses.each do |record_status| %>
  <tr>
    <td><%= record_status.name %></td>
    <td><%= record_status.description %></td>
    <td><%= link_to 'Show', record_status %></td>
    <td><%= link_to 'Edit', edit_record_status_path(record_status) %></td>
    <td><%= link_to 'Destroy', record_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Record status', new_record_status_path %>
