<div class="span12">
  <h1>Record status</h1>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>

    <% @record_statuses.each do |record_status| %>
        <tr >
          <td><%= record_status.name %></td>
          <td><%= record_status.description %></td>
          <td><%= link_to '', edit_record_status_path(record_status), :class => "icn_edit", :title => "Edit" %></td>
          <td><%= link_to '', record_status, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icn_trash", :title => "Delete" %></td>
          <% if record_status.is_proposed? %>
              <td><%= link_to('Validate', "record_statuses/#{record_status.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%></td>
          <% end %>
        </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Record status', new_record_status_path %>
</div>
