<div class="module width_full">
  <%= form_for(@platform_category) do |f| %>
    <% if @platform_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@platform_category.errors.count, "error") %> prohibited this platform_category from being saved:</h2>

        <ul>
        <% @platform_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div >
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div >
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
