<%= simple_form_for(@platform_category) do |f| %>
    <%= f.error_notification %>

    <div>
      <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge'} %>
      <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>

      <table>
        <tr>
          <td>
            <%= f.association :record_status, :label => I18n.t('record_status'),
                              :collection => @platform_category.record_status_collection,
                              :input_html => {:class => 'record_status'},
                              :selected => (@platform_category.is_defined_or_nil? ? @proposed_status.id : @platform_category.record_status_id),
                              :disabled => (true if @platform_category.is_retired?) %>
          </td>
          <td>
            <%= f.input :custom_value, :label => I18n.t('custom_value'), :input_html => {:class => 'custom_value'}, :disabled => (true unless @platform_category.is_custom?) %>
          </td>
        </tr>
      </table>
      <%= f.input :change_comment, :label => I18n.t('change_comment'), :input_html => {:class => 'input-xxlarge', :rows => 2} %>

      <div class="actions">
        <% if can? :update, @platform_category %>
            <%= f.submit I18n.t('save'), :class => 'btn' %>
            <%= f.submit I18n.t('apply'), :class => 'btn' %>
        <% end %>
      </div>
<% end %>
</div>

