<div class="module width_full">

  <table class="tablesorter">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Project area</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @platform_categories.each do |platform_category| %>
    <tr>
      <td><%= platform_category.name %></td>
      <td><%= platform_category.description %></td>
      <td><%= platform_category.project_area_id %></td>
      <td><%= link_to 'Show', platform_category %></td>
      <td><%= link_to 'Edit', edit_platform_category_path(platform_category) %></td>
      <td><%= link_to 'Destroy', platform_category, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Platform category', new_platform_category_path %>
</div>
