<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @platform_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @platform_category.description %>
</p>

<p>
  <strong>Project area:</strong>
  <%= @platform_category.project_area_id %>
</p>


<%= link_to 'Edit', edit_platform_category_path(@platform_category) %> |
<%= link_to 'Back', platform_categories_path %>
