<% unless @capitalization_module_project.nil? %>
    <tr>
      <td class="line_number">
        <h4 class="text-center">0</h4>
      </td>
      <td colspan="<%= @module_positions_x %>">
        <div class="<%=  %> module_project <%= "#{@capitalization_module.alias}_#{@capitalization_module_project.position_x}_#{@capitalization_module_project.position_y}" %> text-center">
          <%= link_to @capitalization_module.title, "#" %>

          <% unless @project.locked? %>
              <%= link_to '', '#', :title => "#{@capitalization_module.title}: \n #{@capitalization_module.description}", :class => "icon-info attribute_tooltip" %>
              <%= link_to '', edit_module_project_path(@capitalization_module_project.id), :class => "icon-edit" %>
          <% end %>
        </div>
      </td>
    </tr>
<% end %>