
  <% module_projects = @project.module_projects %>
  <% @alphabet = %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z) %>

  <% unless module_projects.empty? %>
    <table class="table table-condensed table-bordered table-estimation">
      <tr>
        <th></th>
        <% for x in 1..@module_positions_x.to_i do %>
            <th><h6><%= @alphabet[x-1] %></h6></th>
        <% end %>
      </tr>

      <!-- The Capitalization module -->
      <%= render :partial => 'module_projects/capitalization_module' %>

        <% for y in 1..@module_positions do %>
          <tr>
            <td class="line_number">
                <h6 class="text-center"><%= y %></h6>
            </td>

            <% for x in 1..@module_positions_x.to_i do %>
              <td>
                <% pmod = @project.module_projects.where("position_x = ? AND position_y = ?", x, y).first %>

                <% unless pmod.nil? %>
                  <div class=" module_project_min <%= "#{pmod.pemodule.alias}_#{pmod.position_x}_#{pmod.position_y}" %> text-center">
                    <%= link_to pmod.pemodule.title, activate_module_project_path(pmod) %>
                    <%= link_to ' ', '#', :title => "#{pmod.pemodule.title}: \n #{pmod.pemodule.description}", :class => "icon-info attribute_tooltip" %>
                  </div>

                  <%= render :partial => 'module_projects/estimation_paths', :locals => { :pmod => pmod } %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
    </table>
  <% else %>
    <%= content_tag(:div, I18n.t(:notice_no_estimation_plan_defined), :class => 'alert alert-info') %>
  <% end %>

