<div class="tabs">

  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:related_attributes) %></a></li>
    <li><a href="#tabs-2"><%= I18n.t(:module_links_settings) %> </a></li>
    <li><a href="#tabs-3"><%= I18n.t(:module_ratio_settings) %></a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@module_project) do |f| %>
        <% if @module_project.errors.any? %>
            <div id="error_explanation" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
              <h2><%= pluralize(@module_project.errors.count, 'error') %> prohibited this module_project from being saved:</h2>

              <ul>
                <% @module_project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:in_out) %></th>
            <th><%= I18n.t(:mandatory) %></th>
            <th><%= I18n.t(:description) %></th>
          </tr>
          <% @module_project.estimation_values.each_with_index do |attr, i| %>

              <%# unless attr.pbs_project_element.is_root? %>
              <%= hidden_field_tag 'hidden_ids[]', attr.id %>
              <%# else %>
              <tr class="">
                <td><%= attr.pe_attribute.nil? ? '-' : attr.pe_attribute.name %></td>
                <td><%= select_tag 'in_out[]', options_for_select([['input'], ['output'], ['both']], :selected => attr.in_out), :prompt => I18n.t('helpers.select.prompt'), :readonly => true %> </td>
                <td><%= select_tag 'is_mandatory[]', options_for_select([['yes', true], ['no', false]], :selected => attr.is_mandatory), :prompt => I18n.t('helpers.select.prompt'), :readonly => attr.is_mandatory %></td>
                <td><%= text_field_tag 'description[]', attr.description.blank? ? '-' : attr.description, :disabled => !(attr.custom_attribute) %></td>
              </tr>

              <%# end %>
          <% end %>
        </table>
        <%= f.submit I18n.t('save'), :class => 'btn ' %>
        <%= f.submit I18n.t('apply'), :class => 'btn' %>
    <% end %>
  </div>

  <div id="tabs-2">
    <%= render :partial => 'summary_module_projects_association' %>
  </div>


  <div id="tabs-3">
    <% if @module_project.pemodule.yes_for_output_with_ratio? || @module_project.pemodule.yes_for_input_output_with_ratio? %>
        <%= render :partial => 'module_projects/module_settings' %>
    <% else %>
        <%= render :text => "There is no Ratio parameter to set for this module." %>
    <% end %>
  </div>

</div>