<div class="tabs">

  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:related_attributes) %></a></li>
    <li><a href="#tabs-2"><%= I18n.t(:module_links_settings) %> </a></li>
    <li><a href="#tabs-3"><%= I18n.t(:module_ratio_settings) %></a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@module_project) do |f| %>
        <% if @module_project.errors.any? %>
            <div id="error_explanation" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
              <h2><%= pluralize(@module_project.errors.count, 'error') %> prohibited this module_project from being saved:</h2>

              <ul>
                <% @module_project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:in_out) %></th>
            <th><%= I18n.t(:mandatory) %></th>
            <th><%= I18n.t(:description) %></th>
          </tr>
          <% @module_project.estimation_values.each_with_index do |est_val, i| %>
              <%= hidden_field_tag 'hidden_ids[]', est_val.id %>
              <tr class="">
                <td><%= est_val.pe_attribute.nil? ? '-' : est_val.pe_attribute.name %></td>
                <td><%= select_tag 'in_out[]', options_for_select([['input'], ['output'], ['both']], :selected => est_val.in_out), :prompt => I18n.t('helpers.select.prompt'), :disabled => true %> </td>
                <td><%= select_tag "is_mandatory_#{est_val.id}_#{est_val.in_out}", options_for_select([['yes', true], ['no', false]], :selected => est_val.is_mandatory), :prompt => I18n.t('helpers.select.prompt'), :disabled => AttributeModule.where("pemodule_id =? and pe_attribute_id = ?", @module_project.pemodule.id, est_val.pe_attribute.id).first.is_mandatory %></td>
                <td><%= text_field_tag "description_#{est_val.id}_#{est_val.in_out}", est_val.description.blank? ? '-' : est_val.description %></td>
              </tr>
          <% end %>
        </table>
        <%= f.submit I18n.t('save'), :class => 'btn ' %>
        <%= f.submit I18n.t('apply'), :class => 'btn' %>
    <% end %>
  </div>

  <div id="tabs-2">
    <%= render :partial => 'summary_module_projects_association' %>
  </div>


  <div id="tabs-3">
    <% if @module_project.pemodule.yes_for_output_with_ratio? || @module_project.pemodule.yes_for_input_output_with_ratio? %>
        <%= render :partial => 'module_projects/module_settings' %>
    <% else %>
        <%= content_tag(:div, I18n.t('ratio_settings_message'), :class => "alert alert-info") %>
    <% end %>
  </div>

</div>

