<div class="tabs">

  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:related_attributes) %></a></li>
    <li><a href="#tabs-2">Summary of project modules </a></li>
    <li><a href="#tabs-3">Module Settings </a></li>
  </ul>

  <div id="tabs-1">
    <%= form_for(@module_project) do |f| %>
      <% if @module_project.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <h2><%= pluralize(@module_project.errors.count, "error") %> prohibited this module_project from being saved:</h2>

          <ul>
          <% @module_project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <table class="table table-striped">
        <tr>
          <th><%= I18n.t(:name) %></th>
          <th><%= I18n.t(:in_out) %></th>
          <th><%= I18n.t(:mandatory) %></th>
          <th><%= I18n.t(:description) %></th>
          <th><%= I18n.t(:links_to) %></th>
        </tr>
        <% @module_project.module_project_attributes.each_with_index do |attr, i| %>

          <% unless attr.pbs_project_element.is_root? %>
            <%= hidden_field_tag "hidden_ids[]", attr.id %>
          <% else %>
            <tr class="">
              <td><%= attr.attribute.nil? ? "-" : attr.attribute.name %></td>
              <td><%= select_tag "in_out[]", options_for_select([["input"], ["output"], ["both"]], :selected => attr.in_out), :prompt => "Choose...", :disabled => !(attr.custom_attribute?) %> </td>
              <td><%= select_tag "is_mandatory[]", options_for_select([["yes", true], ["no", false]], :selected => attr.is_mandatory), :prompt => "Choose...", :disabled => !(attr.custom_attribute?) %></td>
              <td><%= text_field_tag "description[]", attr.description.blank? ? '-' : attr.description, :disabled => !(attr.custom_attribute)  %></td>
              <td>
                <strong><%= I18n.t(:current_link) %></strong>
                <% unless attr.links.first.nil? %>
                  <p>
                    <%= attr.links.first %> (<%= attr.links.first.module_project %>) <%= link_to "#{I18n.t(:edit_link)}", "#", :onclick => "show_popup('attribute_links_#{i}')" %>
                  </p>
                <% end %>
              </td>
              <td>

                <%= pop_up("attribute_links_#{i}", "Attribute Links #{attr.id}") do %>
                  <table class="table table-striped">
                    <tr>
                      <th><%= I18n.t(:module_name) %></th>
                      <th><%= I18n.t(:associable_attributes) %></th>
                    </tr>

                      <% if attr.in_out=="input" or attr.in_out=="both"%>
                        <% previous_modules = @module_project.previous %>
                        <% previous_modules.each do |mp| %>
                          <tr>
                            <td><%= mp.pemodule.title %></td>
                            <td>
                              <% @project.root_component.module_project_attributes.select{|i| (i.output? && i.module_project_id == mp.id ) }.each do |mpa| %>
                                <%= label_tag "#{mpa.attribute.nil? ? 'Attribute linkable' : mpa.attribute.alias}" %>
                                <%= check_box_tag "module_project_attributes[#{attr.id}][#{mpa.nil? ? '0' : mpa.id }]", "", attr.links.map(&:id).include?(mpa.id) ? true : false %>
                                </br>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      <% else %>
                        <% next_modules = @module_project.next %>
                        <% next_modules.each do |mp| %>
                          <tr>
                            <td><%= mp.pemodule.title %></td>
                            <td>
                              <% @project.root_component.module_project_attributes.select{|i| ((i.in_out == "input" or i.in_out=="both") && i.module_project_id == mp.id ) }.each do |mpa| %>
                                <%= label_tag "#{mpa.attribute.nil? ? 'Attribute linkable' : mpa.attribute.alias }" %>
                                <%= check_box_tag "module_project_attributes[#{attr.id}][#{mpa.nil? ? '0' : mpa.id }]", "", attr.links.map(&:id).include?(mpa.id) ? true : false %>
                                </br>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                  </table>
                <% end %>
              </td>
            </tr>

          <% end %>
        <% end %>
      </table>
      <%= f.submit I18n.t("save"), :class => "btn " %>
      <%= f.submit I18n.t("apply"), :class => "btn" %>
    <% end %>
  </div>

  <div id="tabs-2">
    <%= render :partial => 'summary_module_projects_association' %>
  </div>

  <div id="tabs-3">
    <%= render :partial => 'module_projects/module_settings' %>
  </div>

</div>