<%= form_tag url_for( {:action => 'associate_module_project_to_ratios', :controller => 'module_projects', :project_id => @project.id}), {:method => 'post', :class=>'simple_form'} do %>
    <h4>Manage the way you will use each wbs-activity-ratio on <%= @project.title %> modules</h4>  <br />
    <%= hidden_field_tag :project_id, @project.id %>
    <%= hidden_field_tag :module_project_id, @module_project.id %>

    <table id="table_list_3" class="table tablesorterPager table-striped table-bordered table-condensed">
      <tr>
        <th> </th>
        <% @references_values.each do |ref| %>
            <th>
              <%= ref.value %>
            </th>
        <% end %>
      </tr>

      <tr>
        <td>
          <strong><%= @module_project.pemodule.title %></strong>
        </td>
        <% @references_values.each do |ref| %>
          <td>
            <%= radio_button_tag "module_projects_#{@module_project.id}", ref.id, @module_project.reference_value.nil? ? false : (@module_project.reference_value == ref) %>
          </td>
        <% end %>
      </tr>
    </table>

    <%= submit_tag I18n.t('save'), :class => 'btn ' %>
    <%= submit_tag I18n.t('apply'), :class => 'btn' %>

<% end %>