<%= form_tag url_for({:action=> 'associate_modules_projects', :controller=> 'module_projects', :project_id => @project.id}),{:method => 'POST', :class=>'simple_form'} do %>

  <% @alphabetical= %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z) %>
  <h4 class="ui-widget">&nbsp;<i class="icon-pencil icon-large"></i>&nbsp;<b><%= I18n.t(:label_module_projects_matrix, :value => @project.title) %> </b></h4>

  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Module projects</th>
      <% @module_projects.each do |mp| %>
        <th>
          <%= mp.pemodule.title %> (<%= @alphabetical[mp.position_x.to_i-1] %>;<%= mp.position_y.to_i %>)
        </th>
      <% end %>
    </tr>

    <% @module_projects.each_with_index do |i, l| %>
      <tr>
        <td>
          <%= hidden_field_tag "module_projects[#{i.id}][]" %>
          <strong><%= i.pemodule.title %> (<%= @alphabetical[i.position_x.to_i-1] %>;<%= i.position_y.to_i %>)</strong>
        </td>

        <% @module_projects.each_with_index do |j, k| %>
          <td>
            <% if  k<l && i.position_y!=j.position_y.to_i %>
              <%= check_box_tag("module_projects[#{i.id}][]", j.id, (i.associated_module_projects.map(&:id).include?(j.id)), :disabled => (i==@capitalization_module_project || j==@capitalization_module_project) )%>
            <% puts "test" %>
            <% else %>
              -
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= submit_tag I18n.t('save'), :class => 'btn ' %>
  <%= submit_tag I18n.t('apply'), :class => 'btn' %>
<% end %>

<div class="widget-box">
  <%= render 'module_projects/widget_estimation_plan', :locals => {:project => @project} %>
</div>
