<h1><%= I18n.t(:projestimate_module) %></h1>

<table class="table tablesorterPager table-striped table-bordered table-condensed">
  <tr>
    <th><%= I18n.t(:pe_module) %></th>
    <th><%= I18n.t(:projects) %></th>
    <th><%= I18n.t(:position) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @module_projects.each do |module_project| %>
  <tr>
    <td><%= module_project.pemodule_id %></td>
    <td><%module_project.project_id %></td>
    <!--<td><%# module_project.position %></td>-->
    <td><%= link_to '', edit_module_project_path(module_project), :class => 'icn_edit', :title => I18n.t('edit') %></td>
    <td><%= link_to '', module_project, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash', :title =>I18n.t('delete') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('new_module_project'), new_module_project_path, :class => 'btn' %>
