<div class="module_box" style=" width: auto; overflow-x:auto; margin-bottom: 3px;"> <!-- <div class="span12"  style="  overflow-x:scroll;"> -->
  <% @alphabetical = %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z) %>
  <h3><%= I18n.t(:label_pbs_element_matrix) %></h3>

  <%= form_tag({:action => 'associate', :controller => 'module_projects', :project_id => @project.id}, :method => 'POST', :class => 'simple_form') do %>
      <table class="table table-striped">
        <tr>
          <th></th>
          <th style="text-align:left;">Product-Element</th>
          <% @module_projects.each do |mp| %>
              <th style="text-align:center; min-width: 70px;">
                <%= mp.pemodule.title %>
                <p>
                  (<%= @alphabetical[mp.position_x-1] %>;<%= mp.position_y %>)&nbsp;
                  <%= link_to '', '', :id => "cols_select_all_#{mp.id}", 'data-mp_id' => mp.id, 'data-rows_or_cols' => 'cols', :remote => true, :class => 'icon-check icon-large check_color', :title => I18n.t('select_unselect_all'), :onclick => 'select_or_unselect_all(this);' %>
                </p>
              </th>
          <% end %>
        </tr>

        <% for element in @project.pe_wbs_projects.products_wbs.first.pbs_project_elements %>
            <tr>
              <td>
                <% unless element.is_root? %>
                    <%= link_to '', '', :id => "lines_select_all_#{element.id}", 'data-mp_id' => element.id, 'data-rows_or_cols' => 'rows', :remote => true, :class => 'icon-check icon-large check_color', :title => I18n.t('select_unselect_all'), :onclick => 'select_or_unselect_all(this);' %>
                <% end %>
              </td>
              <td style="padding-left: <%= element.depth + 2 %>em;">
                <%= element.work_element_type.peicon.nil? ? '?' : image_tag(element.work_element_type.peicon.icon.url) %>&nbsp;
                <%= element.name %>
              </td>
              <% @module_projects.each do |mp| %>
                  <td style="text-align: center;">
                    <%= hidden_field_tag "pbs_project_elements[#{mp.id}][]" %>
                    <% if mp.compatible_with(element.work_element_type.alias) %>
                        <%= check_box_tag("pbs_project_elements[#{mp.id}][]", element.id, (mp.pbs_project_elements.map(&:id).include?(element.id)), :id => nil, :class => "module_project_#{mp.id} pbs_#{element.id}") %>
                    <% else %>
                        -
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
      </table>
      <%= submit_tag I18n.t('save'), :class => 'btn' %>
      <%= submit_tag I18n.t('apply'), :class => 'btn' %>
  <% end %>
</div>

<div class="widget-box">
  <%= render 'module_projects/widget_estimation_plan', :locals => {:project => @project} %>
</div>




