<p id="notice"><%= notice %></p>

<p>
  <strong>Pemodule:</strong>
  <%= @module_project.pemodule_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @module_project.project_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @module_project.position %>
</p>


<%= link_to 'Edit', edit_module_project_path(@module_project) %> |
<%= link_to 'Back', module_projects_path %>
