<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:organization_unit_of_work) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@unit_of_work) do |f| %>
        <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'input-xxlarge', :value => @organization.id || params[:organization_id] } %>
        <%= f.input :name, :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :alias, :input_html => {:class => 'input-xxlarge'} %>
        <%= f.input :description, :input_html => {:class => 'input-xxlarge', :rows => 5} %>
        <div class="accordion" id="accordion1">
          <div class="accordion-group accordion-caret">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                <i class="icon-caret-down"></i>
                <b><%= I18n.t 'text_organization_technology' %></b>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body in collapse">
              <div class="accordion-inner">
                <%= f.association :organization_technologies ,:as=> :check_boxes, :input_html => {:class => 'input-xxlarge'} %>
              </div>
            </div>
          </div>
        </div>

      <div class="actions-tabs">

        <% if action_name == 'new' || action_name=="create" %>
            <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
            <%= submit_tag I18n.t('save'), :class => 'btn' %>
        <% elsif action_name == 'edit' || action_name=="update" %>
            <%= submit_tag I18n.t('save'), :class => 'btn' %>
            <%= submit_tag I18n.t('apply'), :class => 'btn' %>
        <% end %>

        <%= link_to I18n.t('back'), edit_organization_path(@organization || params[:organization_id], :anchor=>'tabs-6'), :class => 'btn' %>

      </div>

    <% end %>
  </div>
</div>