<h3>
  ProjEstimate - <%= I18n.t(:ask_account ) %>
</h3>

<%= form_tag "/create_inactive_user" do %>

<div class="field_login">
  <%= label_tag I18n.t("first_name") %>
  <%= text_field_tag :first_name, "", :class => "login_info span5" %>

  <%= label_tag I18n.t("last_name") %>
  <%= text_field_tag :last_name, "",:class => "login_info span5" %>

  <%= label_tag I18n.t("login_name") %>
  <%= text_field_tag :login_name, "", :class => "login_info span5" %>

  <%= label_tag I18n.t("email") %>
  <%= text_field_tag :email, "", :class => "login_info span5" %>

  <%= label_tag I18n.t("languages")%>
  <%= select_tag :language, options_for_select(Language.all.map{|i| [i.name, i.id] }.sort), :class => "login_info span5", :prompt => "Choose..." %>
  </div>

  <br/>
  <div class="actions"><%= submit_tag I18n.t("send_request") %></div>
  <div>
      <br/>
      <%= I18n.t(:ask_new_account_help ) %>
      <br/>
  </div>
  <br/>
<div class="actions"><%= link_to I18n.t("back"), "" %></div>
<% end %>

