<h2>ProjEstimate - Forgotten password ?</h2>
<%= form_tag "/reset_forgotten_password" do %>
    <%= label_tag :login_name_or_email %>
    <%= text_field_tag :login_name, "", :class => "login_info" %>

  <div class="actions"><%= submit_tag "Send request" %></div>
  <div class="actions"><%= link_to "Back", "" %></div>
<% end %>