<h2>ProjEstimate - <%= I18n.t(:forgotten_password ) %></h2>
<%= form_tag "/reset_forgotten_password", :class => 'simple_form' do %>
    <%= label_tag  I18n.t("login_name_or_email") %>
    <%= text_field_tag :login_name, "", :class => "login_info" %>

  <div class="actions"><%= submit_tag  I18n.t("send_request") %></div>
  <div>
      <br/>
      <%= I18n.t(:forgotten_password_help ) %>
      <br/>
  </div>
  <br/>
  <div class="actions"><%= link_to  I18n.t("back"), "" %></div>
<% end %>