<div class="login_page">
    <%= form_tag sessions_path do %>

    <div class="login_input">
      <div class="input-prepend">
        <span class="add-on"><img src="/assets/man.png" /></span>
        <%= text_field_tag :username, cookies[:login], :class => "login_username", :placeholder => "Username" %>
      </div>

      <div class="input-prepend">
        <span class="add-on"><img src="/assets/keez.png" /></span>
        <%= password_field_tag :password, "", :class => "login_pw", :placeholder => "Password" %>
      </div>

      <label class="checkbox">
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= I18n.t(:remember_me ) %>
      </label>
    </div>

    <div class="pull_right">

      <div class="login_connexion">
        <%= submit_tag "#{I18n.t "connect"}", :class => "btn btn-danger" %>
      </div>

      <%= link_to "#{I18n.t "need_help"}",  "/help_login", :remote => true %> <br/>
      <%= link_to "#{I18n.t "forgotten_password"}", "/forgotten_password", :remote => true %> <br/>
      <%= link_to "#{I18n.t "ask_account"}", "/ask_new_account", :remote => true %>
    </div>


    <% if flash[:error] -%>
      <div class='alert alert-error'>
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:error] -%></div>
    <% end -%>
    <% if flash[:notice] -%>
      <div class='alert alert-info'>
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] -%></div>
    <% end -%>

    <br/>
  <% end %>
</div>