<h3>ProjEstimate - <%= I18n.t(:button_ask_account ) %></h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true, :label => I18n.t('first_name'), :input_html => { :class => 'login_info span5'} %>
    <%= f.input :last_name, required: true, :label => I18n.t('last_name'), :input_html => { :class => 'login_info span5'} %>
    <%= f.input :login_name, required: true, :label => I18n.t('login_name'), :input_html => { :class => 'login_info span5' } %>
    <%= f.input :email, required: true, :input_html => { :class => 'login_info span5' } %>
    <%= f.input :language_id, :as => :collection_select, collection: Language.all.map{|i| [i.name, i.id] }.sort, :prompt => I18n.t('helpers.select.prompt'), :input_html => {:class => "login_info span5"} %>
    <%= f.input :password, required: true, :input_html => { :class => 'login_info span5' } %>
    <%= f.input :password_confirmation, required: true, :input_html => { :class => 'login_info span5' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, I18n.t('send_request'), :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>