<%=simple_format(I18n.t(:mail_salutation, :value => @user.name )) %>

<%=simple_format(I18n.t(:mail_body_account_activation)) %>
<%=simple_format(I18n.t(:mail_body_account_information, :user => @user.login_name, :pwd => I18n.t(:mail_password_from_ldap))) %>

<%=simple_format(I18n.t(:mail_complimentary_close)) %>

<%=simple_format(I18n.t(:mail_footer)) %>
<a href='<%= "#{SETTINGS['HOST_URL']}" %>'>ProjEstimate</a>

