<%=simple_format(I18n.t(:mail_salutation, :value => @user.name)) %>


<br/>

<%=I18n.t(:mail_body_lost_password) %> <a href='<%= "#{SETTINGS['HOST_URL']}/password_resets/#{@user.password_reset_token}/edit" %>'>ProjEstimate</a>

<%=simple_format(I18n.t(:mail_complimentary_close)) %>

<%=simple_format(I18n.t(:mail_footer)) %>
<a href='<%= "#{SETTINGS['HOST_URL']}" %>'>ProjEstimate</a>