<%=simple_format(I18n.t(:mail_salutation, :value => @user.name)) %>

<%=simple_format(I18n.t(:mail_body_account_information, :user => @user.login_name, :pwd => @user.password)) %>

<%=simple_format(I18n.t(:mail_body_account_not_yet_activated)) %>

<%=simple_format(I18n.t(:mail_complimentary_close)) %>

<%=simple_format(I18n.t(:mail_footer)) %>
<a href='<%= "#{SETTINGS['HOST_URL']}" %>'>ProjEstimate</a>