<div class="span12">
  <%= simple_form_for(@labor_category) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name , :label => I18n.t('name')%>

    <%= f.input :description, :label => I18n.t('description'), :input_html => { :rows => 3 } %>

    <%= f.input :change_comment, :label => I18n.t('change_comment'), :input_html => { :rows => 3 } %>

    <%= f.association :record_status, :label => I18n.t('record_status'),
                      :collection => @labor_category.record_status_collection,
                      :input_html => {:class => 'record_status'},
                      :selected => (@labor_category.is_defined_or_nil? ? @proposed_status.id : @labor_category.record_status_id),
                      :disabled => (true if @labor_category.is_retired?) %><br />

    <%= f.input :custom_value, :label => I18n.t('custom_value'), :input_html => {:class => 'custom_value'}, :disabled => (true unless @labor_category.is_custom?) %><br />

    <div class="actions">
      <% if can? :update, @labor_category %>
          <%= f.submit I18n.t('save'), :class => 'btn btn-success' %>
          <%= f.submit I18n.t('apply'), :class => 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>
