<div class="span12">
  <h1><%=  @labor_category.name %></h1>
  <%= simple_form_for(@labor_category) do |f| %>

    <%= f.input :name %>

    <%= f.input :description %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
