<div class="span12">
  <h2>Labor Categories</h2>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @labor_categories.each do |labor_category| %>
      <tr >
        <td><%= labor_category.name %></td>
        <td><%= labor_category.description %></td>
        <td><%= labor_category.record_status.name unless labor_category.record_status.nil? %></td>
        <td><%= link_to '', edit_labor_category_path(labor_category), :class => "icn_edit", :title => "Edit" %></td>
        <td><%= link_to '', labor_category, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
        <td>
          <% unless labor_category.is_defined? %>
              <%= link_to('Validate', "labor_categories/#{labor_category.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'New Labor category', new_labor_category_path, :class => "btn" %> <br />

</div>