<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @labor_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @labor_category.description %>
</p>

<p>
  <strong>Project area:</strong>
  <%= @labor_category.project_area_id %>
</p>


<%= link_to 'Edit', edit_labor_category_path(@labor_category) %> |
<%= link_to 'Back', labor_categories_path %>
