<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:organization_subcontractor) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@subcontractor) do |f| %>
        <%= f.input :organization_id, :as => :hidden, :input_html => { :class => 'input-xxlarge', :value => @organization.id || params[:organization_id] } %>
        <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
        <%= f.input :alias, :label => I18n.t('alias'), :input_html => {:class => 'input-xxlarge'} %>
        <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>

        <div class="actions-tabs">
          <% if action_name.in?(%w(new create)) %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
          <% elsif action_name == 'edit' || action_name=="update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>

          <%= link_to I18n.t('back'), edit_organization_path(@organization, :anchor => "tabs-7"), :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>

