<div class="module width_full">

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>

  <% @project_areas.each do |project_area| %>
    <tr class="">
      <td><%= project_area.name %></td>
      <td><%= project_area.description %></td>
      <td><%= link_to 'Edit', edit_project_area_path(project_area) %></td>
      <td><%= link_to 'Destroy', project_area, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Project area', new_project_area_path %>
</div>
