<div class="span12">
  <%= simple_form_for(@attribute) do |f| %>

    <h1><%= controller.controller_name.humanize.singularize %> </h1>

    <div >
      <%= f.input :name %>

      <%= f.input :alias %>

      <%= f.input :description, :title => "Brief description of attribute" %>

      <%= f.input :aggregation, :as => :select, :collection => Attribute::type_aggregation %>

      <%= f.label :options, :title => "Validations and options" %>

      <% if @attribute.options.empty? %>
        <%= select_tag "options[]", options_for_select(Attribute::type_values), :onchange => "select_value_options(this.value);", :prompt => "Choose" %>
        <%= select_tag "options[]", options_for_select(Attribute::value_options), :onchange => "select_boolean(this.value);", :class => "type_value", :style => "display:none;", :prompt => "Choose" %>
        <%= text_field_tag "options[]", @attribute.options[2] , { :class => "text_field_value", :style => "display:none;" } %>
      <% else %>
        <%= select_tag "options[]", options_for_select(Attribute::type_values, :selected => (@attribute.options[0] || @attribute.attr_type)), :onchange => "select_value_options(this.value);", :prompt => "Choose" %>
        <%= select_tag "options[]", options_for_select(Attribute::value_options, :selected => @attribute.options[1]), :class => "type_value", :prompt => "Choose" %>
        <%= text_field_tag "options[]", @attribute.options[2] , { :class => "text_field_value" } %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>

  <% end %>

  <script>
    function select_value_options(elem){
      if(elem == null || elem == ""){
        $(".text_field_value").hide();
        $(".boolean_value").hide();
        $(".type_value").hide();
        $(".text_field_value").val("");
        $(".boolean_value").val("");
        $(".type_value").val("");
      }
      else if(elem == "list" || elem == "array")
      {
        $(".text_field_value").show();

        $(".boolean_value").hide();
        $(".type_value").hide();
        $(".boolean_value").val("");
        $(".type_value").val("");
      }
      else
      {
        $(".text_field_value").show();
        $(".type_value").show();
      }
    }
  </script>
</div>
