<table border="0" width="100%">
    <tr>
      <td><h2><%= "#{I18n.t "attributes"}" %></h2></td>
      <td style="text-align:right;">
          <%= link_to "#{I18n.t "new_attribute"}", new_attribute_path, :class => "btn" %>
      </td>
    </tr>
</table>

  <table class="table table-striped">
    <tr>
      <th><%= I18n.t(:name) %></th>
      <th>Alias</th>
      <th><%= I18n.t(:description) %></th>
      <th><%= I18n.t(:attributes_type) %></th>
      <th><%= I18n.t(:record_status) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% if @attributes.empty? %>
      <p style="text-align:center;"> <%= "#{I18n.t "empty"} #{I18n.t "attributes"}" %></p>
     <% else %>
      <% @attributes.each do |attribute| %>
        <tr>
          <td><%= attribute.name %></td>
          <td><%= attribute.alias %></td>
          <td><%= attribute.description %></td>
          <td><%= attribute.attr_type.humanize %></td>
          <td><%= attribute.record_status.name unless attribute.record_status.nil? %> <%= attribute.show_custom_value %></td>
          <td><%= link_to '', edit_attribute_path(attribute), :class => "icn_edit", :title => "#{I18n.t "edit"}" %></td>
          <td><%= link_to '', attribute, confirm: "#{I18n.t "are_you_sur?"}", method: :delete, :class => "icn_trash", :title => "#{I18n.t "delete"}" %></td>
          <td>
            <% if is_master_instance? && !attribute.is_local_record? %>
                <% if attribute.is_retired? %>
                    <%= link_to("#{I18n.t "restore"}", "attributes/#{attribute.id}/restore_change", confirm: "#{I18n.t "restoring?"}", :title => "restore changes")%>
                <% else %>
                    <% unless attribute.is_defined? %>
                        <%= link_to("#{I18n.t "validate"}", "attributes/#{attribute.id}/validate_change", confirm: "#{I18n.t "validation?"}", :title => "validate changes")%>
                    <% end %>
                <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
