<table border="0" width="100%">
    <tr>
      <td><h2>Attributes</h2></td>
      <td style="text-align:right;">
          <%= link_to 'New Attribute', new_attribute_path, :class => "btn" %>
      </td>
    </tr>
</table>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Description</th>
      <th>Attribute Type</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% if @attributes.empty? %>
      <p style="text-align:center;"> No Attributes found</p>
     <% else %>
      <% @attributes.each do |attribute| %>
        <tr>
          <td><%= attribute.name %></td>
          <td><%= attribute.alias %></td>
          <td><%= attribute.description %></td>
          <td><%= attribute.attr_type.humanize %></td>
          <td><%= attribute.record_status.name unless attribute.record_status.nil? %></td>
          <td><%= link_to '', edit_attribute_path(attribute), :class => "icn_edit", :title => "Edit" %></td>
          <td><%= link_to '', attribute, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
          <td>
            <% if attribute.is_retired? %>
                <%= link_to('Restore', "attributes/#{attribute.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
            <% else %>
                <% unless attribute.is_defined? %>
                    <%= link_to('Validate', "attributes/#{attribute.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
                <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

<table border="0" width="100%">
  <tr>
   <td style="text-align:right;">
        <%= link_to 'New Attribute', new_attribute_path, :class => "btn" %>
   </td>
  </tr>
</table>