<h4>Wbs-Activity-Ratio</h4>
<%= form_tag( {:controller => 'wbs_project_elements', :action => 'update_wbs_project_ratio_value', :project_id => @project.id}, {:method => 'post', :class => 'simple_form'} ) do %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= hidden_field_tag 'wbs_project_id', @wbs_project_element.id %>
    <%= select_tag 'wbs_activity_ratio_id', options_from_collection_for_select(@possible_wbs_activity_ratios, 'id', 'name', @wbs_project_element.wbs_activity_ratio_id), :prompt => I18n.t('helpers.select.prompt') %>
    <%= submit_tag I18n.t('update'), :class => 'btn change_ratio' %>
<% end %>