<%= simple_form_for(@wbs_project_element) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :input_html => { :class => 'input-xxlarge' }  %>
    <%= f.input :parent_id, :as => :select, :collection => @potential_parents.nil? ? [] : @potential_parents, :label => "Parent element", :selected => @selected_parent.nil? ? '' : @selected_parent.id,  :input_html => { :class => 'input-xxlarge' } %>
    <%= f.input :description, :input_html => { :class => 'input-xxlarge', :rows => 5 }  %>
    <%= f.input :additional_description, :input_html => { :class => 'input-xxlarge', :rows => 5 }  %>
    <%= f.input :exclude %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
