<h1>Listing wbs_project_elements</h1>

<table>
  <tr>
    <th><%= I18n.t(:wbs_activity_elements) %></th>
    <th><%= I18n.t(:wbs_activity) %></th>
    <th><%= I18n.t(:name) %></th>
    <th><%= I18n.t(:description) %></th>
    <th><%= I18n.t(:additionnal_description) %></th>
    <th><%= I18n.t(:exclude) %></th>
    <th><%= I18n.t(:parent) %></th>
    <th><%= I18n.t(:author) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wbs_project_elements.each do |wbs_project_element| %>
  <tr>
    <td><%= wbs_project_element.wbs_activity_element_id %></td>
    <td><%= wbs_project_element.wbs_activity_id %></td>
    <td><%= wbs_project_element.name %></td>
    <td><%= wbs_project_element.description %></td>
    <td><%= wbs_project_element.additional_description %></td>
    <td><%= wbs_project_element.exclude %></td>
    <td><%= wbs_project_element.ancestry %></td>
    <td><%= wbs_project_element.author_id %></td>
    <td><%= link_to 'Show', wbs_project_element %></td>
    <td><%= link_to 'Edit', edit_wbs_project_element_path(wbs_project_element) %></td>
    <td><%= link_to 'Destroy', wbs_project_element, method: :delete, data: { confirm: I18n.t(:are_you_sur)} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t(:new_wbs_project_element), new_wbs_project_element_path %>
