<div class="span12">
  <h1>Permission</h1>
  <%= form_tag({:action=>"set_rights_project_security", :controller=>"permissions"}, :method => "post") do %>
    <table class="tablesorter permissions">
      <tr>
        <th style="text-align:left;">Permissions</th>
        <% @project_securitiy_levels.each do |ps| %>
          <th style="text-align:center;">
            <%= ps.name %>
          </th>
        <% end %>
      </tr>

        <% for perm in @permissions %>
          <% tr_class = cycle('even','odd') %>
          <tr class="<%= tr_class %>">
            <td><%= link_to perm.description, edit_permission_path(perm) %></td>
            <% @project_securitiy_levels.each do |ps| %>
              <td style="text-align: center;">
                <%= check_box_tag("permissions[#{ps.id}][]", perm.id, (ps.permissions.map(&:id).include? perm.id), :id => nil, :class => "group_#{ps.id}")%>
              </td>
            <% end %>
          </tr>
        <% end %>
          <tr><td><%= link_to "New permission", new_permission_path(:is_project_permission => true) %></td></tr>
      </table>
    <%= submit_tag "Save" %>
    <% end %>
</div>