<div id="content-header">
  <h4 class="ui-widget">&nbsp;<i class="icon-reorder icon-large"></i>&nbsp;<b><%= I18n.t(:project_securities) %> </b></h4>
</div>

<%= form_tag({:action=> 'set_rights_project_security', :controller=> 'permissions'}, :method => 'post', :class => 'simple_form') do %>
  <table class="table tablesorterPager table-striped table-bordered table-condensed permissions">
    <tr>
      <th style="text-align:left;"><%= I18n.t(:permissions)%></th>
      <% @project_security_levels.each do |ps| %>
        <th style="text-align:center;">
          <%= ps.name %>
        </th>
      <% end %>
    </tr>

      <% for perm in @permissions %>
        <% tr_class = cycle('even','odd') %>
        <tr class="<%= tr_class %>">
          <td><%= link_to perm.description, edit_permission_path(perm) %></td>
          <% @project_security_levels.each do |ps| %>
            <td style="text-align: center;">
              <%= check_box_tag("permissions[#{ps.id}][]", perm.id, (ps.permissions.map(&:id).include? perm.id), :id => nil, :class => "group_#{ps.id}")%>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <%= submit_tag I18n.t('apply'), :class => 'btn' %>
<% end %>
