<div class="span12">
  <%= simple_form_for(@auth_method) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, :label => I18n.t('name')  %>
    <%= f.input :server_name, :label => I18n.t('server_name')  %>
    <%= f.input :port, :as => :select, :collection => ['389', '636'], :label => I18n.t('port')   %>
    <%= f.input :certificate, :label => 'Use SSL', :label => I18n.t('certificate')  %>
    <%= f.input :base_dn, :label => I18n.t('base_dn')  %>
    <%= f.input :user_name_attribute, :label => I18n.t('user_name_attribute')  %>  <br />

    <% if is_master_instance? %>

        <%= f.input :change_comment, :input_html => { :rows => 3 }, :label => I18n.t('change_comment')  %><br />

        <%= f.association :record_status, :label => I18n.t('record_status'), :required => (is_master_instance? ? true : false),
                          :collection => @auth_method.record_status_collection,
                          :input_html => {:class => 'record_status'},
                          :selected => (@auth_method.is_defined_or_nil? ? @proposed_status.id : @auth_method.record_status_id),
                          :disabled => (true if @auth_method.is_retired?) %><br />

        <%= f.input :custom_value, :label => I18n.t('custom_value') , :input_html => {:class => 'custom_value'}, :disabled => (true unless @auth_method.is_custom?) %><br />
    <% end %>

    <div class="actions">
      <% if can? :update, @auth_method %>
          <%= f.submit I18n.t('save'), :class => 'btn' %>
          <%= f.submit I18n.t('apply'), :class => 'btn' %>
      <% end %>
    </div>
  <% end %>
</div>
