<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:auth_methods) %> </a></li>
  </ul>
  <div id="tabs-1">
    <%= simple_form_for(@auth_method) do |f| %>
        <%= f.error_notification %>

        <div>
          <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge'} %>
          <%= f.input :server_name, :label => I18n.t('server_name'), :input_html => {:class => 'input-large'} %>
          <table>
            <tr>
              <td><%= f.input :port, :as => :select, :collection => ['389', '636'], :label => I18n.t('port'), :input_html => {:class => 'input-medium'} %></td>
              <td></td>
              <td><%= f.input :certificate, :label => I18n.t('certificate') %></td>
            </tr>
          </table>
          <%= f.input :base_dn, :label => I18n.t('base_dn'), :input_html => {:class => 'input-xxlarge'} %>
          <%= f.input :user_name_attribute, :label => I18n.t('user_name_attribute'), :input_html => {:class => 'input-large'} %>

          <% if is_master_instance? %>

              <table>
                <tr>
                  <td>
                    <%= f.association :record_status, :label => I18n.t('record_status'), :required => (is_master_instance? ? true : false),
                                      :collection => @auth_method.record_status_collection,
                                      :input_html => {:class => 'record_status'},
                                      :selected => (@auth_method.is_defined_or_nil? ? @proposed_status.id : @auth_method.record_status_id),
                                      :disabled => (true if @auth_method.is_retired?) %>
                  </td>
                  <td>
                    <%= f.input :custom_value, :label => I18n.t('custom_value'), :input_html => {:class => 'custom_value'}, :disabled => (true unless @auth_method.is_custom?) %>
                  </td>
                </tr>
              </table>
              <%= f.input :change_comment, :label => I18n.t('change_comment'), :input_html => {:class => 'input-xxlarge', :rows => 2} %>
          <% end %>

          <div class="actions-tabs">
            <% if can? :update, @auth_method %>
                <%= f.submit I18n.t('save'), :class => 'btn' %>
                <%= f.submit I18n.t('apply'), :class => 'btn' %>
                <%= link_to I18n.t('back'), auth_methods_path, :class => 'btn' %>
            <% end %>
          </div>
    <% end %>
    </div>
  </div>
</div>
