<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:security_level) %></a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t('new_project_security_level'), new_project_security_level_path, :class => 'btn' %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th style="text-align:left;"><%= I18n.t(:name) %></th>
        <th><%= I18n.t(:record_status) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <% @project_security_levels.each do |project_security_level| %>
          <tr>
            <td><%= project_security_level.name %></td>
            <td><%= project_security_level.record_status.name unless project_security_level.record_status.nil? %> <%= project_security_level.show_custom_value %></td>
            <td class="action">
              <%= link_to '', edit_project_security_level_path(project_security_level), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <%= link_to '', project_security_level, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% if is_master_instance? && !project_security_level.is_local_record? %>
                  <% if project_security_level.is_retired? %>
                      <%= link_to('', "project_security_levels/#{project_security_level.id}/restore_change", confirm: I18n.t('restoring'),:class => 'icon-undo icon-large icon-border pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                  <% else %>
                      <% unless project_security_level.is_defined? %>
                          <%= link_to('', "project_security_levels/#{project_security_level.id}/validate_change", confirm: I18n.t('validation'),:class => 'icon-ok icon-large icon-border pull-left', :style => 'color:green', :title => I18n.t('validate_title')) %>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>

      <%= render :partial => 'layouts/footer_table' %>
    </table>

  </div>
</div>