<div class="span12">
  <h1>Project Securities Levels</h1>
  <table class="table table-striped">
    <tr>
      <th style="text-align:left;">Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @project_security_levels.each do |project_security_level| %>
    <tr>
      <td><%= project_security_level.name %></td>
      <td><%= project_security_level.record_status.name unless project_security_level.record_status.nil? %></td>
      <td><%= link_to '', edit_project_security_level_path(project_security_level), :class => "icn_edit", :title => "Edit" %></td>
      <td><%= link_to '', project_security_level, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
      <td>
        <% if project_security_level.is_proposed? %>
            <%= link_to('Validate', "project_security_levels/#{project_security_level.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Project security level', new_project_security_level_path, :class => "btn" %>
</div>
