<% action_name = controller.action_name %>
<% if ["new", "edit"].include?(action_name) %>
  <h2 xmlns="http://www.w3.org/1999/html"><%= ("#{action_name}" == "new")? "New Wbs Activity" : "Configure Wbs Activity"%></h2>
<% else %>
  <h1><%= action_name.humanize %> <%= current_project.title %></h1>
<% end %>

<div class="tabs">
  <ul>
    <li><a href="#tabs-1">General </a></li>
    <% if action_name == "edit" %>
      <li><a href="#tabs-2">Wbs Element (Tree View) </a></li>
      <li><a href="#tabs-3">Ratios </a></li>
      <li><a href="#tabs-4">Ratio elements </a></li>
    <% end %>
  </ul>

  <div id="tabs-1">
    <h2>WBS Activity</h2>
    <%= simple_form_for(@wbs_activity) do |f| %>
        <%= f.error_notification %>

      <% if controller.action_name == "edit" and @wbs_activity.retired?  %>
        <%= f.input :state, :as => :select, :collection => WbsActivity.aasm_states_for_select, :input_html => { :class => 'input-xxlarge' } %>
      <% else %>
        <%= f.input :name, :input_html => { :class => 'input-xxlarge' } %>
        <%= f.input :description, :input_html => { :class => 'input-xxlarge', :rows => 5 } %>
        <%= f.input :organization_id, :as => :select, :collection => current_user.organizations, :input_html => { :class => 'input-xxlarge' } %>

        <%= f.input :state, :as => :select, :collection => WbsActivity.aasm_states_for_select, :input_html => { :class => 'input-xxlarge' } %>
      <% end %>

      <% if is_master_instance? %>

        <%= f.input :change_comment, :input_html => { :rows => 3 } %><br />

        <%= f.association :record_status, :label => "Status", :required => (is_master_instance? ? true : false),
                              :collection => wbs_record_statuses_collection,
                              :input_html => {:class => "record_status"},
                              :selected => (@wbs_activity.is_defined_or_nil? ? @proposed_status.id : @wbs_activity.record_status_id),
                              :disabled => (true if @wbs_activity.is_retired?) %><br />

        <%= f.input :custom_value, :input_html => {:class => "custom_value"}, :disabled => (true unless @wbs_activity.is_custom?) %><br />
      <% end %>

      <%= f.submit "Save", :class => "btn"%>
      <%= f.submit "Apply", :class => "btn"%>
    <% end %>
  </div>

  <% unless action_name == "new" %>
    <div id="tabs-2">
      <div class="well component_tree">
        <%=raw generate_activity_element_tree(@wbs_activity_elements.first, "") %>
      </div>
    </div>

    <div id="tabs-3">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Wbs Activity</th>
          <th>Status</th>
          <th>Reference value</th>
          <th colspan=3>Actions</th>
        </tr>
        <% @wbs_activity_ratios.each do |wbs_activity_ratio| %>
          <tr>
            <td><%= wbs_activity_ratio.name %></td>
            <td><%= wbs_activity_ratio.description %></td>
            <td><%= wbs_activity_ratio.wbs_activity.name %></td>
            <td><%= wbs_activity_ratio.record_status %></td>
            <td><%= wbs_activity_ratio.reference_value.value unless wbs_activity_ratio.reference_value.nil? %></td>
            <td>
              <%= link_to '', edit_wbs_activity_ratio_path(wbs_activity_ratio, :activity_id => wbs_activity_ratio.wbs_activity), :class => "icon-edit icon-large", :title => "Edit" %>
              <%= link_to '', wbs_activity_ratio, confirm: 'Are you sure?', method: :delete, :class => "icon-trash icon-large", :title => "Delete" %>
              <%= link_to '', export_wbs_activity_ratios_path(wbs_activity_ratio), :class => "icon-download icon-large", :title => "Export"  %>
              <a href="#myModal" role="button" class="icon-upload icon-large" data-toggle="modal" title="Import a CSV file"></a>
            </td>
          </tr>


          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <%= form_tag import_wbs_activity_ratios_path, :multipart => true do %>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Import Wbs Activity Ratio</h3>
              </div>
              <div class="modal-body">
                  <label>File (csv only)</label>
                  <%= file_field_tag :file %>

                  <label>Separator (default : '<%= I18n.t(:general_csv_separator) %>') </label>
                  <%= text_field_tag :separator %>

                  <label>Encoding</label>
                  <%= select_tag :encoding, options_for_select(Project::encoding)  %>


                  <%= hidden_field_tag :wbs_activity_ratio_id,  wbs_activity_ratio.id  %>

              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <%= submit_tag "Import", :class => "btn btn-primary", :onclick => "$('.loading').show();"  %>
              </div>
              <div class="loading span11 hide">
                <h4>Please wait during import... <%= image_tag "ajax-loader.gif" %> </h4>
              </div>
            <% end %>
          </div>

        <% end %>
      </table>
      <%= link_to "Create a new ratio table", new_wbs_activity_ratio_path(:activity_id => @wbs_activity.id), :class => "btn" %>
    </div>

    <div id="tabs-4">

      <div class="pull-left">
        Please select a ratio table
        <%= select_tag "Ratio", options_for_select(@wbs_activity_ratios.map{|i| [i.name, i.id] }, :selected => @wbs_activity_ratio ), :class => "select_ratio" %>
      </div>

      <%= form_tag '/save_values', :remote => true  do %>
        <div id="ratio_section">
          <%= render :partial => 'wbs_activity_ratio_elements', :object => @wbs_activity_ratio_elements %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>