<div class="span12">
  <h2>WBS Activity</h2>
  <%= simple_form_for(@wbs_activity) do |f| %>
      <%= f.error_notification %>

    <% if controller.action_name == "edit" and @wbs_activity.retired?  %>
      <%= f.input :state, :as => :select, :collection => WbsActivity.aasm_states_for_select, :input_html => { :class => 'input-xxlarge' } %>
    <% else %>
      <%= f.input :name, :input_html => { :class => 'input-xxlarge' } %>
      <%= f.input :description, :input_html => { :class => 'input-xxlarge', :rows => 5 } %>
      <%= f.input :organization_id, :as => :select, :collection => current_user.organizations, :input_html => { :class => 'input-xxlarge' } %>

      <%= f.input :state, :as => :select, :collection => WbsActivity.aasm_states_for_select, :input_html => { :class => 'input-xxlarge' } %>
    <% end %>

    <% if is_master_instance? %>

      <%= f.input :change_comment, :input_html => { :rows => 3 } %><br />

      <%= f.association :record_status, :label => "Status", :required => (is_master_instance? ? true : false),
                        :collection => wbs_record_statuses_collection,
                        :input_html => {:class => "record_status"},
                        :selected =>  @wbs_activity.record_status_id,
                        :disabled => (true if @wbs_activity.is_retired?) %><br />

      <%= f.input :custom_value, :input_html => {:class => "custom_value"}, :disabled => (true unless @wbs_activity.is_custom?) %><br />
    <% end %>

    <%= f.submit %>
  <% end %>
</div>
