<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:general) %> </a></li>
    <% if action_name.in?(%w(edit update)) %>
        <li><a href="#tabs-2"><%= I18n.t(:wbs_elements) %></a></li>
        <li><a href="#tabs-3"><%= I18n.t(:ratios) %> </a></li>
        <li><a href="#tabs-4"><%= I18n.t(:ratios_elements) %></a></li>
    <% end %>
  </ul>

  <div class="div_tabs_to_disable" data-enable_update="<%= enable_update_in_local? %>">

    <div id="tabs-1">
      <h2><%= I18n.t(:wbs_activity) %></h2>
      <%= simple_form_for(@wbs_activity) do |f| %>
          <%= f.error_notification %>

          <% if controller.action_name == 'edit' and @wbs_activity.retired? %>
              <%= f.input :state, :label => I18n.t('state'), :as => :select, :collection => WbsActivity.aasm_states_for_select, :input_html => {:class => 'input-xxlarge'} %>
          <% else %>
              <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
              <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>
              <%= f.input :organization_id, :label => I18n.t('organizations'), :as => :select, :collection => current_user.organizations, :input_html => {:class => 'input-xxlarge'} %>

              <%= f.input :state, :label => I18n.t('state'), :as => :select, :collection => WbsActivity.aasm_states_for_select, :input_html => {:class => 'input-large'} %>
          <% end %>

          <% if is_master_instance? %>
              <table>
                <tr>
                  <td>
                    <%= f.association :record_status, :label => I18n.t('record_status'), :required => (is_master_instance? ? true : false),
                                      :collection => wbs_record_statuses_collection,
                                      :input_html => {:class => 'record_status'},
                                      :selected => (@wbs_activity.is_defined_or_nil? ? @proposed_status.id : @wbs_activity.record_status_id),
                                      :disabled => (true if @wbs_activity.is_retired?) %>
                  </td>
                  <td>
                    <%= f.input :custom_value, :label => I18n.t('custom_value'), :input_html => {:class => 'custom_value'}, :disabled => (true unless @wbs_activity.is_custom?) %>
                  </td>
                </tr>
              </table>
              <%= f.input :change_comment, :label => I18n.t('change_comment'), :input_html => {:class => 'input-xxlarge', :rows => 2} %>
              <br/>
          <% end %>


          <% if can? :create_wbs_activities, WbsActivity and (action_name == 'new' || action_name=='create') %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% elsif can? :edit_wbs_activities, WbsActivity and (action_name == 'edit' || action_name=='update') %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <%= link_to I18n.t('back'), wbs_activities_path, :class => 'btn' %>
      <% end %>
    </div>

    <% if action_name.in?(%w(edit update)) %>
        <div id="tabs-2">
          <div class="well component_tree">
            <%= raw generate_activity_element_tree(@wbs_activity_elements.first, '') %>
          </div>
        </div>

        <div id="tabs-3">
          <table border="0" width="100%">
            <tr>
              <td style="text-align:right;">
                <% if enable_update_in_local? %>
                    <%= link_to I18n.t(:new_wbs_activity_ratio), new_wbs_activity_ratio_path(:activity_id => @wbs_activity.id), :class => 'btn' %>
                <% end %>
              </td>
            </tr>
          </table>

          <table id="table_list_3" class="table tablesorterPager table-striped table-bordered table-condensed">
            <thead>
            <tr>
              <th><%= I18n.t(:name) %></th>
              <th><%= I18n.t(:description) %></th>
              <th class="filter-select"><%= I18n.t(:record_status) %></th>
              <th class="action" colspan=5><%= I18n.t(:actions) %></th>
            </tr>
            </thead>
            <% @wbs_activity_ratios.each do |wbs_activity_ratio| %>
                <tr>
                  <td><%= wbs_activity_ratio.name %></td>
                  <td><%= wbs_activity_ratio.description %></td>
                  <td><%= wbs_activity_ratio.record_status %></td>
                  <td>
                    <%= link_to '', edit_wbs_activity_ratio_path(wbs_activity_ratio, :activity_id => wbs_activity_ratio.wbs_activity_id), :class => 'button_attribute_tooltip icon-pencil icon-large icon-border pull-left', :title => I18n.t(:edit) %>
                    <% if can? :edit_wbs_activities, WbsActivity %>
                        <%= link_to '', wbs_activity_ratio, confirm: I18n.t(:are_you_sur), method: :delete, :class => 'button_attribute_tooltip icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t(:delete) %>
                        <%= link_to '', export_wbs_activity_ratios_path(wbs_activity_ratio), :class => 'button_attribute_tooltip icon-download icon-large icon-border pull-left', :title => I18n.t(:export) %>
                        <a href="#myWBSModal" role="button" class="button_attribute_tooltip icon-upload icon-large icon-border pull-left" data-toggle="modal" title="Import a CSV file"></a>
                        <% if wbs_activity_ratio.wbs_activity.is_defined? && is_master_instance? && wbs_activity_ratio.record_status != @local_status %>
                            <% unless wbs_activity_ratio.is_defined? %>
                                <%= link_to('', "/wbs_activity_ratios/#{wbs_activity_ratio.id}/validate_ratio", confirm: 'Do you confirm ?', :title => I18n.t(:validate_title), :class => 'button_attribute_tooltip icon-ok icon-large icon-border pull-left', :style => 'color:green') %>
                            <% end %>
                        <% end %>
                    <% end %>
                  </td>
                </tr>

                <div id="myWBSModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <%= form_tag import_wbs_activity_ratios_path, :multipart => true, :class => 'simple_form' do %>
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel"><%= I18n.t(:import) %> Wbs Activity Ratio</h3>
                      </div>
                      <div class="modal-body">
                        <label><%= I18n.t(:file_csv) %></label>
                        <%= file_field_tag :file %>

                        <label><%= I18n.t(:separator) %> '<%= I18n.t(:general_csv_separator) %>') </label>
                        <%= text_field_tag :separator %>

                        <label><%= I18n.t(:encoding) %></label>
                        <%= select_tag :encoding, options_for_select(Project::encoding, :selected => I18n.t(:general_csv_encoding)) %>


                        <%= hidden_field_tag :wbs_activity_ratio_id, wbs_activity_ratio.id %>

                      </div>
                      <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t(:close) %></button>
                        <%= submit_tag 'Import', :class => 'btn btn-primary', :onclick => "$('.loading').show();" %>
                      </div>
                      <div class="loading span11 hide">
                        <h4><%= I18n.t(:please_wait_import) %> <%= image_tag 'ajax-loader.gif' %> </h4>
                      </div>
                  <% end %>
                </div>

            <% end %>
            <%= render :partial => 'layouts/footer_table' %>
          </table>
        </div>

        <div id="tabs-4">
          <div class="pull-left">
            <%= I18n.t(:select_ratio_table) %>
            <%= select_tag 'Ratio', options_for_select(@wbs_activity_ratios.map { |i| [i.name, i.id] }, :selected => @wbs_activity_ratio), :class => 'select_ratio' %>
          </div>

          <%= form_tag '/save_values', :id => 'save_ratio_elt_reference', :remote => true, :class => 'simple_form' do %>
              <div id="ratio_section">
                <%= render :partial => 'wbs_activity_ratio_elements', :object => @wbs_activity_ratio_elements %>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

</div>