<div class="pull-right total-ratios">
  <%= I18n.t(:sum_of_ratio_values ) %>
  <%= @total %> %
</div>
<br>

<table class="table table-striped table-bordered table-condensed" style="margin-top:20px;">
   <tr>
     <th>Outline</th>
     <th><%= I18n.t(:name ) %></th>
     <th><%= I18n.t(:description ) %></th>
     <th><%= I18n.t(:label_ratio_value)%></th>
     <th><%= I18n.t(:one_reference_value) %></th>
     <th><%= I18n.t(:set_of_reference_value) %></th>
   </tr>

  <% wbs_activity_ratio_elements.each_with_index do |wbs_activity_ratio_element, i| %>
    <tr>
      <td><%= wbs_activity_ratio_element.wbs_activity_element.dotted_id %></td>
      <td><%= wbs_activity_ratio_element.wbs_activity_element.name %></td>
      <td><%= wbs_activity_ratio_element.wbs_activity_element.description %></td>

      <% unless wbs_activity_ratio_element.wbs_activity_element.has_children? %>
          <td><%= text_field_tag "ratio_values[#{wbs_activity_ratio_element.id}]", wbs_activity_ratio_element.ratio_value, :class => 'input-mini', :tabindex => i %></td>
          <td><%= radio_button_tag 'simple_reference', wbs_activity_ratio_element.id, wbs_activity_ratio_element.simple_reference%></td>
          <td><%= check_box_tag 'multiple_references[]', wbs_activity_ratio_element.id, wbs_activity_ratio_element.multiple_references%></td>
      <% else %>
          <td> - </td>
          <td> - </td>
          <td> - </td>
      <% end %>
      <%= hidden_field_tag 'wbs_activity_ratio_id', wbs_activity_ratio_element.wbs_activity_ratio_id %>
      <%= hidden_field_tag 'wbs_activity_id', wbs_activity_ratio_element.wbs_activity_ratio.wbs_activity_id %>
    </tr>
  <% end %>
</table>

<%= submit_tag I18n.t(:save ), :id => 'reference_value_submit_save', :class => 'btn' %>
<%= link_to I18n.t('back'), wbs_activities_path, :class => 'btn' %>

