<div class="span12">
  <h2>WBS Activities</h2>

  <table class="table table-striped" >
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Organization</th>
      <th>State</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>

  <% @wbs_activities.each do |wbs_activity| %>
    <tr >
      <td><%= wbs_activity.name %></td>
      <td><%= wbs_activity.description %></td>
      <td><%= wbs_activity.organization unless wbs_activity.organization.nil? %></td>
      <td><%= wbs_activity.state %></td>
      <td><%= wbs_activity.record_status.name unless wbs_activity.record_status.nil? %><%= wbs_activity.show_custom_value %></td>
      <td><%= link_to '', edit_wbs_activity_path(wbs_activity), :class => "icn_edit", :title => "Edit" %></td>
      <td><%= link_to '', wbs_activity_element_path(wbs_activity), :class => "icn_commit", :title => "View elements" %></td>
      <td><%= link_to('', "wbs_activities/#{wbs_activity.id}/duplicate_me",  :class => "icn_duplicate", :title => "Duplicate") %></td>
      <td>
          <% unless wbs_activity.retired? %>
            <%= link_to '', wbs_activity, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %>
          <% end %>
      </td>
      <td>
        <% if is_master_instance? && !wbs_activity.is_local_record? %>
            <% if wbs_activity.is_retired? %>
                <%= link_to('Restore', "wbs_activities/#{wbs_activity.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
            <% else %>
                <% unless wbs_activity.is_defined? %>
                    <%= link_to('Validate', "wbs_activities/#{wbs_activity.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "Validate changes")%>
                <% end %>
            <% end %>
        <% end %>
      </td>

    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New WBS Activity', new_wbs_activity_path, :class => "btn" %>
</div>

