  <h2>WBS Activities</h2>


  <table class="table table-striped" >
    <tr>
      <th><%= I18n.t(:name ) %></th>
      <th><%= I18n.t(:description ) %></th>
      <th><%= I18n.t(:organization ) %></th>
      <th><%= I18n.t(:state ) %></th>
      <th><%= I18n.t(:record_status ) %></th>
      <th colspan=4><%= I18n.t(:actions ) %></th>
    </tr>

  <% @wbs_activities.each do |wbs_activity| %>
    <tr >
      <td><%= wbs_activity.name %></td>
      <td><%= wbs_activity.description %></td>
      <td><%= wbs_activity.organization unless wbs_activity.organization.nil? %></td>
      <td><%= wbs_activity.state %></td>
      <td><%= wbs_activity.record_status.name unless wbs_activity.record_status.nil? %><%= wbs_activity.show_custom_value %></td>
      <td><%= link_to '', edit_wbs_activity_path(wbs_activity), :class => "icn_edit", :title => I18n.t(:edit ), confirm: (I18n.t(:text_master_force_edit) if wbs_activity.is_defined?) %></td>
      <td><%= link_to('', "wbs_activities/#{wbs_activity.id}/duplicate_wbs_activity",  :class => "icn_duplicate", :title => "Duplicate") %></td>
      <td>
          <% unless wbs_activity.retired? %>
            <%= link_to '', wbs_activity, confirm:  I18n.t(:are_you_sur? ), method: :delete, :class => "icn_trash", :title =>  I18n.t(:delete ) %>
          <% end %>
      </td>
      <td>
        <% if is_master_instance? && !wbs_activity.is_local_record? %>
            <% if wbs_activity.is_retired? %>
                <%= link_to('', "wbs_activities/#{wbs_activity.id}/restore_change", confirm:  I18n.t(:actions ), :title =>  I18n.t(:restore_title ), :class => 'icn_jump_back')%>
            <% else %>
                <% unless wbs_activity.is_defined? %>
                    <%= link_to('', "/wbs_activities/#{wbs_activity.id}/validate_change_with_children", confirm: 'Do you confirm changes validation on this record and all its elements?', :title =>  I18n.t(:validate_title ), :class => 'icn_check_in') %>
                <% end %>
            <% end %>
        <% end %>
      </td>

    </tr>
  <% end %>
  </table>

  <%= link_to  I18n.t(:new_wbs_activity ), new_wbs_activity_path, :class => "btn" %>
  <a href="#myModal" role="button" class="btn" data-toggle="modal">Import a CSV file</a>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <%= form_tag import_wbs_activities_path, :multipart => true do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel"><%= I18n.t(:import ) %> WBS Activity</h3>
        </div>
        <div class="modal-body">
            <label><%= I18n.t(:file_csv ) %></label>
            <%= file_field_tag :file %>

            <label><%= I18n.t(:separator ) %>'<%= I18n.t(:general_csv_separator) %>') </label>
            <%= text_field_tag :separator %>

            <label><%= I18n.t(:encoding ) %></label>
            <%= select_tag :encoding, options_for_select(Project::encoding, :selected => I18n.t(:general_csv_encoding))  %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= submit_tag I18n.t(:import ), :class => "btn btn-primary", :onclick => "$('.loading').show();"  %>
        </div>
        <div class="loading span11 hide">
          <h4><%= I18n.t(:please_wait_import ) %><%= image_tag "ajax-loader.gif" %> </h4>
        </div>
      </div>
    <% end %>
  </div>
