<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attribute_category.name %>
</p>

<p>
  <b>Alias:</b>
  <%= @attribute_category.alias %>
</p>


<%= link_to 'Edit', edit_attribute_category_path(@attribute_category) %> |
<%= link_to 'Back', attribute_categories_path %>
