<div class="span12">
  <%= simple_form_for(@currency) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, :label => I18n.t("name")  %>
      <%= f.input :alias %>
      <%= f.input :description, :label => I18n.t("description") , :input_html => {:rows => 4} %> <br />

      <%= f.input :change_comment,
                  :label => I18n.t("change_comment"),
                  :input_html => { :rows => 4 } %><br />
      <%= f.association :record_status, :label => I18n.t("record_status") ,
                        :collection => @currency.record_status_collection,
                        :input_html => {:class => "record_status"},
                        :selected => (@currency.is_defined_or_nil? ? @proposed_status.id : @currency.record_status_id),
                        :disabled => (true if @currency.is_retired?) %><br />

      <%= f.input :custom_value, :label => I18n.t("custom_value") , :input_html => {:class => "custom_value"}, :disabled => (true unless @currency.is_custom?)  %><br />

      <div class="actions">
        <% if can? :update, @currency %>
            <%= f.submit I18n.t("save"), :class => "btn" %>
            <%= f.submit I18n.t("apply"), :class => "btn" %>
        <% end %>
      </div>
  <% end %>
</div>


