<h2>Currencies</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.name %></td>
    <td><%= currency.alias %></td>
    <td><%= currency.description %></td>
    <td><%= currency.record_status.name unless currency.record_status.nil? %> <%= currency.show_custom_value %></td>
    <td><%= link_to 'Show', currency %></td>
    <td><%= link_to '', edit_currency_path(currency), :class => "icn_edit", :title => "Edit" %></td>
    <td><%= link_to '', currency, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
    <td>
      <% if currency.is_retired? %>
          <%= link_to('Restore', "currencies/#{currency.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
      <% else %>
          <% unless currency.is_defined? %>
              <%= link_to('Validate', "currencies/#{currency.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
          <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Currency', new_currency_path, :class => "btn" %>
