<h2><%= controller.controller_name.humanize.singularize %> </h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @currency.alias %>
</p>

<p>
  <strong>Description:</strong>
  <%= @currency.description %>
</p>


<%= link_to 'Edit', edit_currency_path(@currency) %> |
<%= link_to 'Back', currencies_path %>
