<h1>Listing abacus_organizations</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Unit or work</th>
    <th>Organization uow complexity</th>
    <th>Organization technology</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abacus_organizations.each do |abacus_organization| %>
  <tr>
    <td><%= abacus_organization.value %></td>
    <td><%= abacus_organization.unit_or_work_id %></td>
    <td><%= abacus_organization.organization_uow_complexity_id %></td>
    <td><%= abacus_organization.organization_technology_id %></td>
    <td><%= link_to 'Show', abacus_organization %></td>
    <td><%= link_to 'Edit', edit_abacus_organization_path(abacus_organization) %></td>
    <td><%= link_to 'Destroy', abacus_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Abacus organization', new_abacus_organization_path %>
