<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @abacus_organization.value %>
</p>

<p>
  <b>Unit or work:</b>
  <%= @abacus_organization.unit_of_work_id %>
</p>

<p>
  <b>Organization uow complexity:</b>
  <%= @abacus_organization.organization_uow_complexity_id %>
</p>

<p>
  <b>Organization technology:</b>
  <%= @abacus_organization.organization_technology_id %>
</p>


<%= link_to 'Edit', edit_abacus_organization_path(@abacus_organization) %> |
<%= link_to 'Back', abacus_organizations_path %>
