<div class="span12">
  <h1>WorkElement Type</h1>

  <table class="table table-striped">
    <tr>
      <th style="text-align:left;">Name</th>
      <th style="text-align:left;">Alias</th>
      <th style="text-align:left;">Description</th>
      <th style="text-align:left;">Icon</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @work_element_types.each do |work_element_type| %>
      <tr class="">
      <td><%= work_element_type.name %></td>
      <td><%= work_element_type.alias %></td>
      <td><%= work_element_type.description %></td>
      <td><%= work_element_type.peicon.nil? ? 'None' : image_tag(work_element_type.peicon.icon.url) %></td>
      <td><%= work_element_type.record_status.name unless work_element_type.record_status.nil? %></td>
      <td><%= link_to 'Edit', edit_work_element_type_path(work_element_type) %></td>
      <td><%= link_to 'Destroy', work_element_type, confirm: 'Are you sure?', method: :delete %></td>
      <td>
          <% if work_element_type.is_proposed? %>
              <%= link_to('Validate', "work_element_types/#{work_element_type.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
          <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Work element type', new_work_element_type_path %>
</div>
