<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:work_element_type) %></a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t(:new_work_element_type), new_work_element_type_path, :class => 'btn' %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th>Alias</th>
        <th><%= I18n.t(:description) %></th>
        <th><%= I18n.t(:icon) %></th>
        <th><%= I18n.t(:record_status) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <% @work_element_types.each do |work_element_type| %>
          <tr>
            <td><%= work_element_type.name %></td>
            <td><%= work_element_type.alias %></td>
            <td><%= work_element_type.description %></td>
            <td><%= work_element_type.peicon.nil? ? 'None' : image_tag(work_element_type.peicon.icon.url) %></td>
            <td><%= work_element_type.record_status.name unless work_element_type.record_status.nil? %> <%= work_element_type.show_custom_value %> </td>
            <td class="action">
              <%= link_to '', edit_work_element_type_path(work_element_type), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <%= link_to '', work_element_type, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>

              <% if work_element_type.is_retired? %>
                  <%= link_to('', "work_element_types/#{work_element_type.id}/restore_change", confirm: I18n.t(:restoring),:class => 'icon-undo icon-large icon-border pull-left', :style => 'color:orange', :title => I18n.t(:restore_title)) %>
              <% else %>
                  <% unless work_element_type.is_defined? %>
                      <%= link_to('', "work_element_types/#{work_element_type.id}/validate_change", confirm: I18n.t(:validation),:class => 'icon-ok icon-large icon-border pull-left', :style => 'color:green', :title => I18n.t(:validate_title)) %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
    </table>
  </div>
</div>
