<div class="span12">
  <h1>WorkElement Type</h1>

  <table class="table table-striped">
    <tr>
      <th style="text-align:left;">Name</th>
      <th style="text-align:left;">Alias</th>
      <th style="text-align:left;">Description</th>
      <th style="text-align:left;">Project area</th>
      <th></th>
      <th></th>
    </tr>

  <% @work_element_types.each do |work_element_type| %>
      <tr class="">
      <td><%= work_element_type.name %></td>
      <td><%= work_element_type.alias %></td>
      <td><%= work_element_type.description %></td>
      <td><%= work_element_type.project_area_id %></td>
      <td><%= link_to 'Edit', edit_work_element_type_path(work_element_type) %></td>
      <td><%= link_to 'Destroy', work_element_type, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Work element type', new_work_element_type_path %>
</div>
