<div class="span12">
  <%= simple_form_for(@language) do |f| %>
    <%= f.error_notification %>

    <div >
      <%= f.input :name %>
      <%= f.input :uuid %>

      <%= f.input :locale %>
      <%= f.input :change_comment, :input_html => { :rows => 3 } %>
      <%= f.association :record_status, :label => "Status",
                        :collection => @language.record_status_collection,
                        :input_html => { :class => "record_status"},
                        :selected => (@language.is_defined_or_nil? ? @proposed_status.id : @language.record_status_id),
                        :disabled => (true if @language.is_retired?) %><br />

      <%= f.input :custom_value, :input_html => { :class => "custom_value" },
                  :disabled => (true unless @language.is_custom?),
                  :hint => "Is needed when status = Custom" %><br />

    </div>

    <div class="actions">
      <% if can? :update, @language %>
        <%= f.submit "Save", :class => "btn btn-success" %>
        <%= f.submit "Apply", :class => "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>
