<div class="span12">
  <h1>Languages</h1>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Locale</th>
      <th></th>
      <th></th>
    </tr>

  <% @languages.each do |language| %>
    <tr >
      <td><%= language.name %></td>
      <td><%= language.locale %></td>
      <td><%= link_to '', edit_language_path(language), :class => "icn_edit", :title => "Edit" %></td>
      <td><%= link_to '', language, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
      <% if language.is_proposed? %>
        <td><%= link_to('Validate', "languages/#{language.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%></td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Language', new_language_path, :class => "btn" %>
</div>