<div class="span12">
  <h2><%= I18n.t(:languages) %></h2>

  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th><%= I18n.t(:name) %></th>
      <th><%= I18n.t(:local) %></th>
      <th><%= I18n.t(:record_status) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @languages.each do |language| %>
    <tr>
      <td><%= language.name %></td>
      <td><%= language.locale %></td>
      <td><%= language.record_status.name unless language.record_status.nil? %> <%= language.show_custom_value %></td>
      <td><%= link_to '', edit_language_path(language), :class => 'icn_edit', :title => I18n.t('edit') %></td>
      <td><%= link_to '', language, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash', :title => I18n.t('delete') %></td>
      <td>
        <% if is_master_instance? && !language.is_local_record? %>
            <% if language.is_retired? %>
                <%= link_to(I18n.t('restore'), "languages/#{language.id}/restore_change", confirm: I18n.t('restoring'), :title => I18n.t('restore_title'))%>
            <% else %>
                <% unless language.is_defined? %>
                    <%= link_to(I18n.t('validate'), "languages/#{language.id}/validate_change", confirm: I18n.t('validation'), :title => I18n.t('validate_title'))%>
                <% end %>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to I18n.t('new_language'), new_language_path, :class => 'btn' %>
</div>