<div class="span12">
  <h2>Languages</h2>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Locale</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @languages.each do |language| %>
    <tr>
      <td><%= language.name %></td>
      <td><%= language.locale %></td>
      <td><%= language.record_status.name unless language.record_status.nil? %></td>
      <td><%= link_to '', edit_language_path(language), :class => "icn_edit", :title => "Edit" %></td>
      <td><%= link_to '', language, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
      <td>
        <% if language.is_retired? %>
            <%= link_to('Restore', "languages/#{language.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
        <% else %>
            <% unless language.is_defined? %>
                <%= link_to('Validate', "languages/#{language.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Language', new_language_path, :class => "btn" %>
</div>