<tr>
  <td><%= wbs_activity_element.dotted_id %></td>
  <td><%= wbs_activity_element.name %></td>
  <td><%= wbs_activity_element.wbs_activity.name unless wbs_activity_element.wbs_activity.nil? %></td>
  <td><%= wbs_activity_element.description %></td>
  <td><%= wbs_activity_element.ancestry %></td>
  <td><%= wbs_activity_element.record_status.name unless wbs_activity_element.record_status.nil? %><%= wbs_activity_element.show_custom_value %></td>

  <td><%= link_to '', edit_wbs_activity_element_path(wbs_activity_element, :activity_id => wbs_activity_element.wbs_activity), :class => "icn_edit", :title => "Edit" %></td>
  <td><%= link_to '', wbs_activity_element, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>

  <td>
    <% if is_master_instance? && !wbs_activity_element.is_local_record? %>
      <% if wbs_activity_element.is_retired? %>
        <%= link_to('Restore', "#{wbs_activity_element.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes") %>
      <% else %>
        <% unless wbs_activity_element.is_defined? %>
          <%= link_to('Validate', "#{wbs_activity_element.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes") %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>