<div class="span12">
  <h2>WBS Activity Elements</h2>

    <table class="table table-striped" >
      <tr>
        <th>Name</th>
        <th>Wbs activity</th>
        <th>Description</th>
        <th>Ancestry</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @wbs_activity_elements.each do |wbs_activity_element| %>
      <tr>
        <td><%= wbs_activity_element.name %></td>
        <td><%= wbs_activity_element.wbs_activity.name unless wbs_activity_element.wbs_activity.nil? %></td>
        <td><%= wbs_activity_element.description %></td>
        <td><%= wbs_activity_element.ancestry %></td>

        <td><%= link_to '', edit_wbs_activity_element_path(wbs_activity_element), :class => "icn_edit", :title => "Edit" %></td>
        <td><%= link_to '', wbs_activity_element, method: :delete, data: { confirm: 'Are you sure?' }, :class => "icn_trash", :title => "Delete" %></td>
      </tr>
    <% end %>
    </table>

<br />

<%= link_to 'New Wbs activity element', new_wbs_activity_element_path, :class => "btn" %>

</div>