<table id="table_list_3" class="table tablesorterPager table-striped table-bordered table-condensed">
  <%= hidden_field_tag 'group_id', @group.id %>
  <%= hidden_field_tag 'group[project_ids][]' %>
  <thead>
  <tr>
    <th><%= I18n.t(:label_project_name) %></th>
    <th><%= I18n.t(:label_project_version) %></th>
    <th><%= I18n.t(:alias) %></th>
    <th><%= I18n.t(:description) %></th>
    <th class="filter-select"><%= I18n.t(:state) %></th>
    <th class="filter-select" data-value="false"><%= I18n.t(:label_project_is_model) %></th>
    <th class="filter-select"><%= I18n.t(:selected) %></th>
  </tr>
  </thead>
  <tbody>
  <% projects.each do |group_project| %>
      <tr>
        <td><%= group_project.title %></td>
        <td><%= group_project.version %></td>
        <td><%= group_project.alias %></td>
        <td><%= group_project.description %></td>
        <td><%= group_project.state %></td>
        <td><%= group_project.is_model %></td>
        <td>
           <span class="hidden">
                  <%= group.projects.map(&:id).include?(group_project.id).to_s.humanize %>
           </span>
          <%= check_box_tag('group[project_ids][]', group_project.id, (group.projects.map(&:id).include? group_project.id), :id => nil, :class => "group_#{group_project.id}") %>
        </td>
      </tr>
  <% end %>
  <%= render :partial => 'layouts/footer_table' %>
  </tbody>
</table>

<script>
    <%= render :partial => 'layouts/sort_date', :handlers => [:erb], :formats => [:js]%>
</script>