<div class="span12">
  <h2>Groups</h2>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @groups.each do |group| %>
    <tr class="">
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <td><%= group.record_status.name unless group.record_status.nil? %></td>
      <td><%= link_to '', edit_group_path(group), :class => "icn_edit", :title => "Edit" %></td>
      <td><%= link_to '', group, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
      <td>
        <% unless group.is_defined? %>
            <%= link_to('Validate', "groups/#{group.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Group', new_group_path, :class => "btn" %>
 </div>