<div class="row-fluid">
  <div class="span6 pbs">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <a href="#collapseProduct" data-toggle="collapse">
          <span class="icon">
            <i class="icon-align-left"></i>
          </span>
        </a>
        <h5><%= I18n.t(:wbs_product) %> - "
          <span class="component_name">
            <%= current_component %>
          </span>
        "</h5>
      </div>
      <div class="collapse in" id="collapseProduct">
        <div class="widget-content resizableProduct">
          <%= render :partial => 'users/pe_wbs' %>
        </div>
      </div>
    </div>
  </div>

  <div class="span6 estimation_plan">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <a href="#collapseActivity" data-toggle="collapse">
          <span class="icon">
            <i class="icon-list"></i>
          </span>
        </a>
        <h5><%= I18n.t(:estimation_plan) %> - <%= current_module_project.nil? ? 'Aucun module de projets sélectionné' : current_module_project %></h5>

        <div class="buttons">
          <a href="<%= edit_project_path(current_project.id, :anchor => 'tabs-4') %>" class="btn btn-mini btn-info">
            <%= I18n.t(:button_estimation_plan) %>
          </a>
        </div>

      </div>
      <div class="collapse in" id="collapseActivity">
        <div class="widget-content">
          <div class="estimation_plan_min overflow">
            <%= render 'module_projects/estimation_plan_min', :locals => {:module_projects => @project.module_projects} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag({:controller => 'projects', :action => 'run_estimation', :pbs_project_element_id => current_component.id}, :remote => true, :class => 'simple_form') do -%>

  <div class="row-fluid">
    <div class="span6 input">
      <div class="widget-box">
        <div class="widget-title"><span class="icon">
          <i class="icon-align-left"></i>
        </span>
          <h5><%= I18n.t(:label_estimation_modules) %> - <%= I18n.t(:label_input_data) %></h5>
          <div class="buttons">
            <%= select_tag 'pbs_list',  options_for_select(current_project.root_component.subtree.map{|i| [i.name, i.id] }, :selected => current_component.id), :class => 'pull-right', :prompt => 'Product Quick Access' %>
            <%= submit_tag 'Run', :class => 'btn btn-mini', :title => I18n.t(:tooltip_run_estimation), :id => 'run_estimation' %>
          </div>
        </div>
        <div class="widget-content">
          <div class="input_data">
            <%=raw display_input.blank? ? "#{ content_tag(:div, I18n.t(:notice_no_estimation_plan_defined), :class => 'alert alert-info')}" : display_input  %>
          </div>
        </div>
      </div>
    </div>

    <div class="span6 output">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
          <i class="icon-list"></i>
        </span>
          <h5><%= I18n.t(:label_estimation_modules) %> - <%= I18n.t(:label_output_data) %></h5>
          <div class="buttons">
            <a href="<%= convert_path('json') %>" class="btn btn-mini btn-warning">
              JSON
            </a>
            <a href="<%= convert_path('xml') %>" class="btn btn-mini btn-warning">
              XML
            </a>
            <a href="<%= convert_path('csv') %>" class="btn btn-mini btn-warning">
              CSV
            </a>
            <a href="#tab1" class="btn btn-mini btn-danger" data-toggle="tab">
              Tables
            </a>
            <a href="#tab2" class="btn btn-mini btn-danger" data-toggle="tab">
              Charts
            </a>
          </div>
        </div>

        <div class="widget-content tab-content">
          <div id="tab1" class="tab-pane active">
            <div class="output_data">
              <%=raw display_results.blank? ? "#{ content_tag(:div, I18n.t(:notice_no_estimation_saved), :class => 'alert alert-info')}" : display_results %>
            </div>
          </div>
          <div id="tab2" class="tab-pane chart_data">

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({
            language: '<%= set_user_language %>',
            autoclose: true,
            todayHighlight: true,
            todayBtn: true
        }).on("hide", function(e){
            $.ajax({
                url:"check_attribute",
                type: 'POST',
                data: "value=" + this.value + "&level=" + this.className.split(/\s/)[1] + "&est_val_id=" + this.className.split(/\s/)[2]
            })
        });

    });
</script>




