<div class="row-fluid">
  <div class="span6">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <a href="#collapseProduct" data-toggle="collapse">
          <span class="icon">
            <i class="icon-align-left"></i>
          </span>
        </a>
        <h5>WBS-Product -
          <span class="component_name">
            <%= current_component %>
          </span>
        </h5>
      </div>
      <div class="collapse in" id="collapseProduct">
        <div class="widget-content resizableProduct">
          <%= render :partial => 'users/pe_wbs' %>
        </div>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="widget-box collapsible">
      <div class="widget-title">
        <a href="#collapseActivity" data-toggle="collapse">
          <span class="icon">
            <i class="icon-list"></i>
          </span>
        </a>
        <h5>WBS-Activity</h5>
      </div>
      <div class="collapse in" id="collapseActivity">
        <div class="widget-content">
          <div class="overflow">
            <%= render :partial => 'projects/generate_wbs_project_elt_tree', :object => @pe_wbs_project_activity %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag({:controller => 'projects', :action => 'run_estimation', :pbs_project_element_id => current_component.id}, :remote => true, :class => 'simple_form') do -%>

  <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title"><span class="icon">
          <i class="icon-align-left"></i>
        </span>
          <h5>Estimation module - Input data </h5>
          <div class="buttons">
            <%= select_tag 'pbs_list',  options_for_select(current_project.root_component.subtree.map{|i| [i.name, i.id] }, :selected => current_component.id), :class => 'pull-right', :prompt => 'Product Quick Access' %>
            <%= submit_tag 'Run', :class => 'btn btn-mini', :title => I18n.t(:tooltip_run_estimation), :id => 'run_estimation' %>
          </div>
        </div>
        <div class="widget-content">
          <div class="input_data">
            <%=raw display_input.blank? ? "#{ content_tag(:div, I18n.t(:notice_no_estimation_plan_defined), :class => 'alert alert-info')}" : display_input  %>
          </div>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
          <i class="icon-list"></i>
        </span>
          <h5>Estimation module - Output data </h5>
          <div class="buttons">
            <a href="<%= convert_path('json') %>" class="btn btn-mini btn-warning">
              JSON
            </a>
            <a href="<%= convert_path('xml') %>" class="btn btn-mini btn-warning">
              XML
            </a>
            <a href="<%= convert_path('csv') %>" class="btn btn-mini btn-warning">
              CSV
            </a>
            <a href="#tab1" class="btn btn-mini btn-danger" data-toggle="tab">
              Tables
            </a>
            <a href="#tab2" class="btn btn-mini btn-danger" data-toggle="tab">
              Charts
            </a>
          </div>
        </div>

        <div class="widget-content tab-content">
          <div id="tab1" class="tab-pane active">
            <div class="output_data">
              <%=raw sanitize(display_results.blank? ? "#{ content_tag(:div, I18n.t(:notice_no_estimation_saved), :class => 'alert alert-info')}" : display_results, :tags => %w(table tr th td span h4), :attributes => %w(id class style title)) %>
            </div>
          </div>
          <div id="tab2" class="tab-pane">
            My cool charts !
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="row-fluid">
  <div class="span12">
    <div class="widget-box">
      <%= render 'module_projects/widget_estimation_plan', :locals => {:project => @project} %>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({
            language: '<%= set_user_language %>',
            autoclose: true,
            todayHighlight: true,
            todayBtn: true
        }).on("hide", function(e){
            $.ajax({
                url:"check_attribute",
                type: 'POST',
                data: "value=" + this.value + "&level=" + this.className.split(/\s/)[1] + "&est_val_id=" + this.className.split(/\s/)[2]
            })
        });
    });
</script>




