<% if @relations.empty? %>
    <div class="alert alert-info" colspan="2"><%=raw "#{I18n.t(:notice_no_module_use_current_attribute, :value => @user)}" %></div>
<% else %>
    <table border="0" width="100%" class="table tablesorterPager table-striped table-bordered table-condensed">
      <tr>
        <th><%= "#{I18n.t(:text_module_name)}" %></th>
        <th><%= "#{I18n.t(:class)}" %></th>
      </tr>
      <% @relations.each do |r| %>
          <tr>
            <td>
              <span class='attribute_tooltip' title="">
              <%= raw link_to("#{r}", "#") %> </span>
            </td>
            <td>
              <%= r.class.to_s %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>