<%= simple_form_for @user do |f| %>

  <div class="tabs">
    <ul>
      <li><a href="#tabs-1">Global settings </a></li>
      <li><a href="#tabs-2">Associated groups </a></li>
      <li><a href="#tabs-3">Associated organizations </a></li>
      <li><a href="#tabs-4">Associated projects </a></li>
      <li><a href="#tabs-5">Settings</a></li>
    </ul>

    <div id="tabs-1">
      <fieldset>
        <legend>Identity</legend>
        <%= f.input :first_name %>

        <%= f.input :surename %>

        <%= f.input :user_name %>

        <%= f.input :email %>

        <%= f.input :initials %>
      </fieldset>


      <fieldset>
        <legend>Authentication</legend>
        <%= f.input :password %>

        <%= f.input :password_confirmation %>

        <%= f.input :type_auth, :as => :select, :collection => [["Applicatif", "app"],["Ldap","ldap"]], :label => "User Authentication" %>

      </fieldset>

      <fieldset>
        <legend>Informations</legend>

        <%= f.input :user_status, :as => :select, :collection => [["Active","active"],["Pending", "pending"],["Suspended", "suspended"],["Blacklisted", "blacklisted"]] %>

        <%= f.input :created_at do %>
          <%= f.text_field :created_at, :disabled => true %>
        <% end %>

        <%= f.input :updated_at do %>
          <%= f.text_field :updated_at, :disabled => true %>
        <% end %>

        <%= f.input :last_login do %>
          <%= f.text_field :last_login, :disabled => true %>
        <% end %>

        <%= f.input :previous_login do %>
          <%= f.text_field :previous_login, :disabled => true %>
        <% end %>

      </fieldset>



    </div>

      <div id="tabs-2">
        <div class="field_checkbox">
          <h3><%= f.label :groups %></h3>
          <table class="table table-striped">
            <% @groups.each do |group| %>
              <tr>
                <td><span><%= group.name %></span></td>
                <td><%= check_box_tag "user[group_ids][]", group.id, @project_groups.map(&:id).include?(group.id) ? true : false %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div id="tabs-3">
        <div class="field_checkbox">
          <h3><%= f.label :associated_organizations %></h3>
          <table class="table table-striped">
            <% @organizations.each do |org| %>
              <tr>
                <td><span><%= org.name %></span>
                <td><%= check_box_tag "user[organization_ids][]", org.id, @org_users.map(&:id).include?(org.id) ? true : false %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    <div id="tabs-4">
        <div class="field_checkbox">
          <h3><%= f.label :projets_associes %></h3>
          <table class="table table-striped">
            <% @projects.each do |project| %>
              <tr>
                <td><span><%= project.title %></span>
                <td><%= check_box_tag "user[project_ids][]", project.id, @project_users.map(&:id).include?(project.id) ? true : false %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    <div id="tabs-5">

      <%= f.input :language_id, :as => :select, :collection => Language.all %>

      <%= f.input :time_zone, :as => :select, :collection => ActiveSupport::TimeZone.all.map(&:name) %>

      <p>Assistance</p>
      <p>Notifications</p>
      <p>Format d'affichage</p>
      <p>Décimal</p>
      <p>Milliers</p>
      <p>Premier jour de la semaine</p>
      <p>Première semaine de l'anéne</p>
      <p>Pref d'export</p>

    </div>


    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-success" %>

      <%= f.submit "Apply", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>