<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="tabs">
    <ul>
      <li><a href="#tabs-1"><%= I18n.t(:global ) %></a></li>
      <li><a href="#tabs-2"><%= I18n.t(:associated_groups ) %></a></li>
      <li><a href="#tabs-3"><%= I18n.t(:associated_organizations ) %></a></li>
      <li><a href="#tabs-4"><%= I18n.t(:associated_projects ) %></a></li>
      <li><a href="#tabs-5"><%= I18n.t(:settings ) %></a></li>
    </ul>

    <div id="tabs-1">
      <fieldset>
        <legend><%= I18n.t "identity" %></legend>
        <%= f.input :first_name, :label => I18n.t("first_name")  %>

        <%= f.input :last_name, :label => I18n.t("last_name") %>

        <%= f.input :login_name, :label => I18n.t("login_name") %>

        <%= f.input :email, :label => I18n.t("email") %>

        <%= f.input :initials, :label => I18n.t("initials") %>
      </fieldset>

      <fieldset>
        <legend><%= I18n.t(:authentication) %></legend>
        <%= f.input :password, :label => I18n.t("password") %>

        <%= f.input :password_confirmation, :label => I18n.t("password_confirmation") %>

        <%= f.input :auth_type, :label => I18n.t("auth_type"), :as => :select, :collection => AuthMethod.all, :selected => "Application" %>

      </fieldset>

      <fieldset>
        <legend><%= I18n.t(:informations) %></legend>

        <%= f.input :user_status, :label => I18n.t("user_status") , :as => :select, :collection => [["Active","active"],["Pending", "pending"],["Suspended", "suspended"],["Blacklisted", "blacklisted"]] %>

        <%= f.input :created_at, :label => I18n.t("created_at") do %>
          <%= f.text_field :created_at, :disabled => true %>
        <% end %>

        <%= f.input :updated_at, :label => I18n.t("updated_at") do %>
          <%= f.text_field :updated_at, :disabled => true %>
        <% end %>

        <%= f.input :last_login, :label => I18n.t("last_login") do %>
          <%= f.text_field :last_login, :disabled => true %>
        <% end %>

        <%= f.input :previous_login, :label => I18n.t("previous_login") do %>
          <%= f.text_field :previous_login, :disabled => true %>
        <% end %>

      </fieldset>
    </div>

      <div id="tabs-2">
        <div class="field_checkbox">
          <h3><%= f.label :groups %></h3>
          <table class="table table-striped">
            <% @groups.each do |group| %>
              <tr>
                <td><span><%= group.name %></span></td>
                <td><%= check_box_tag "user[group_ids][]", group.id, @project_groups.map(&:id).include?(group.id) ? true : false %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div id="tabs-3">
        <div class="field_checkbox">
          <h3><%= f.label :associated_organizations %></h3>
          <table class="table table-striped">
            <% @organizations.each do |org| %>
              <tr>
                <td><span><%= org.name %></span>
                <td><%= check_box_tag "user[organization_ids][]", org.id, @org_users.map(&:id).include?(org.id) ? true : false %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    <div id="tabs-4">
        <div class="field_checkbox">
          <h3><%= f.label :projets_associes %></h3>
          <table class="table table-striped">
            <% @projects.each do |project| %>
              <tr>
                <td><span><%= project.title %></span>
                <td><%= check_box_tag "user[project_ids][]", project.id, @project_users.map(&:id).include?(project.id) ? true : false %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    <div id="tabs-5">

      <%= f.input :language_id, :label => I18n.t("languages"), :as => :select, :collection => Language.all, :selected => @user.language_id %>

      <%= f.input :time_zone, :label => I18n.t("time_zone"), :as => :select, :collection => ActiveSupport::TimeZone.all.map(&:name), :include_blank => false, :selected => @user.time_zone || "GMT" %>

      <p><%= I18n.t(:assistance) %></p>
      <p><%= I18n.t(:notifications) %></p>
      <p><%= I18n.t(:display_format) %></p>
      <p><%= I18n.t(:decimal) %></p>
      <p><%= I18n.t(:thousands) %></p>
      <p><%= I18n.t(:first_day) %></p>
      <p><%= I18n.t(:first_week) %></p>
      <p><%= I18n.t(:export_preferences) %></p>

    </div>


    <div class="actions">
      <%= f.submit I18n.t("save"), :class => "btn" %>
      <%= f.submit I18n.t("apply"), :class => "btn" %>
    </div>
  </div>

<% end %>