<%= simple_form_for @user do |f| %>

    <%= hidden_field_tag :current_tab, '', :class => 'current_tab' %>

    <%= f.error_notification %>
    <div class="tabs">
        <ul>
          <li><a href="#tabs-1"><%= t(:global) %></a></li>
          <li><a href="#tabs-2"><%= I18n.t(:groups) %></a></li>
          <li><a href="#tabs-3"><%= I18n.t(:organizations) %></a></li>
          <li><a href="#tabs-4"><%= I18n.t(:projects) %></a></li>
          <li><a href="#tabs-5"><%= I18n.t(:settings) %></a></li>
        </ul>

        <div id="tabs-1">
          <div id="accordion1" class="accordion">
            <div class="accordion-group accordion-caret">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                  <i class="icon-caret-down"></i>
                  <b><%= I18n.t 'identity' %></b>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body in collapse">
                <div class="accordion-inner">
                  <table>
                    <tr>
                      <td><%= f.input :first_name, :label => I18n.t('first_name'), :input_html => {:autofocus => (controller.action_name == 'new'), :class => 'input-large'} %></td>
                      <td><%= f.input :last_name, :label => I18n.t('last_name'), :input_html => {:class => 'input-xlarge'} %>   </td>
                    </tr>
                    <tr>
                      <td><%= f.input :initials, :label => I18n.t('initials'), :input_html => {:class => 'input-small'} %></td>

                      <td>
                        <% if can? :manage, User %>
                         <%= f.input :login_name, :label => I18n.t('login_name') %>
                        <% else %>
                          <%= f.input :login_name, :label => I18n.t('login_name'), :disabled => true %>
                        <% end %>
                      </td>

                    </tr>
                    <tr>
                      <td colspan="2"><%= f.input :email, :label => I18n.t('email'), :input_html => {:class => 'input-xxlarge'} %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div id="accordion2" class="accordion">
            <div class="accordion-group accordion-caret">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  <i class="icon-caret-down"></i>
                  <b><%= I18n.t(:authentication) %></b>
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body in collapse">
                <div class="accordion-inner">
                  <table>

                    <tr>
                      <% if can? :manage, User %>
                        <td colspan="2"><%= f.input :auth_type, :label => I18n.t('auth_type'), :as => :select, :collection => AuthMethod.all, :include_blank => false %></td>
                      <% else %>
                        <td colspan="2"><%= f.input :auth_type, :label => I18n.t('auth_type'), :as => :select, :collection => AuthMethod.all, :disabled => true, :include_blank => false %></td>
                      <% end %>
                    </tr>

                    <tr class="password_row">

                      <% if @user.auth_method && @user.auth_method.name == 'Application' %>
                        <td><%= f.input :password, :as => :password, :label => I18n.t('password'), :input_html => {:class => 'input-xlarge', :disabled => false, :type => 'text'} %></td>
                        <td><%= f.input :password_confirmation, :as => :password, :label => I18n.t('password_confirmation'), :input_html => {:class => 'input-xlarge', :disabled => false, :type => 'text'} %></td>
                      <% else %>
                        <td><%= f.input :password, :as => :password, :label => I18n.t('password'), :input_html => {:class => 'input-xlarge', :disabled => true } %></td>
                        <td><%= f.input :password_confirmation, :as => :password, :label => I18n.t('password_confirmation'), :input_html => {:class => 'input-xlarge', :disabled => true } %></td>
                      <% end %>

                    </tr>
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('#user_auth_type').change(function () {
                                if ($('.password_row input').is(':disabled')) {
                                    $('.password_row input').prop("disabled", false);
                                }
                                else {
                                    $('.password_row input').prop("disabled", true);
                                }
                            });
                        });
                    </script>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div id="accordion3" class="accordion">
            <div class="accordion-group accordion-caret">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                  <i class="icon-caret-down"></i>
                  <b><%= I18n.t(:informations) %></b>
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <table>
                    <tr>
                      <td colspan="2">
                        <%= f.input :user_status,
                                    :label => I18n.t('user_status'),
                                    :as => :select,
                                    :collection => [['Active', 'active'], ['Pending', 'pending'], ['Suspended', 'suspended'], ['Blacklisted', 'blacklisted']],
                                    :input_html => {:class => 'input-medium'}, :disabled => !(can? :manage, User) %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <%= f.input :created_at, :label => I18n.t('created_at') do %>
                          <%= f.text_field :created_at, :value => (I18n.l(@user.created_at) unless @user.created_at.nil?), :disabled => true, :input_html => {:class => 'input-xxlarge'} %>
                        <% end %>
                      </td>

                      <td><%= f.input :updated_at, :label => I18n.t('updated_at') do %>
                            <%= f.text_field :updated_at, :value => (I18n.l(@user.updated_at) unless @user.updated_at.nil?), :disabled => true, :input_html => {:class => 'input-xxlarge'} %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= f.input :last_login, :label => I18n.t('last_login') do %>
                            <%= f.text_field :last_login, :value => (I18n.l(@user.last_login) unless @user.last_login.nil?), :disabled => true %>
                        <% end %>
                      </td>

                      <td><%= f.input :previous_login, :label => I18n.t('previous_login') do %>
                            <%= f.text_field :previous_login, :value => (I18n.l(@user.previous_login) unless @user.previous_login.nil?), :disabled => true %>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tabs-2">
          <b><%= I18n.t(:text_user_associated_groups) %></b>
          <br/>

          <div class="field_checkbox">
            <table id="table_list_2" class="table tablesorterPager table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th><%= I18n.t(:label_Group) %></th>
                  <th><%= I18n.t(:description) %></th>
                  <th class="filter-select"><%= I18n.t(:global_permissions) %></th>
                  <th class="filter-select"><%= I18n.t(:project_permissions) %></th>
                  <th class="filter-select"><%= I18n.t(:selected) %></th>
                </tr>
              </thead>
              <tbody>
                <% @groups.each do |group| %>
                  <tr>
                    <td><%= group.name %></td>
                    <td><%= group.description %></td>
                    <td><%= group.for_global_permission %></td>
                    <td><%= group.for_project_security %></td>
                    <td>
                      <span class="hidden">
                            <%= @project_groups.map(&:id).include?(group.id).to_s.humanize %>
                      </span>
                      <% if can? :manage, User %>
                        <%= check_box_tag 'user[group_ids][]', group.id, @project_groups.map(&:id).include?(group.id) ? true : false %>
                      <% else %>
                        <%= check_box_tag 'user[group_ids][]', group.id, @project_groups.map(&:id).include?(group.id) ? true : false, :disabled => true %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              <span class="user_groups_table_footer"><%= render :partial => 'layouts/footer_table' %></span>
            </table>
          </div>
        </div>

        <div id="tabs-3">
          <b><%= I18n.t(:text_user_associated_organizations) %></b>
          <br/>

          <div class="field_checkbox">
            <table id="table_list_3" class="table tablesorterPager table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th><%= I18n.t(:label_Organization) %></th>
                  <th><%= I18n.t(:description) %></th>
                  <th class="filter-select"><%= I18n.t(:selected) %></th>
                </tr>
              </thead>
              <tbody>
                <% @organizations.each do |org| %>
                  <tr>
                    <td><%= org.name %></td>
                    <td><%= org.description %></td>
                    <td>
                      <span class="hidden">
                            <%= @org_users.map(&:id).include?(org.id).to_s.humanize %>
                      </span>
                      <% if can? :manage, User %>
                        <%= check_box_tag 'user[organization_ids][]', org.id, @org_users.map(&:id).include?(org.id) ? true : false %>
                      <% else %>
                        <%= check_box_tag 'user[organization_ids][]', org.id, @org_users.map(&:id).include?(org.id) ? true : false, :disabled => true %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              <%= render :partial => 'layouts/footer_table' %>
            </table>
          </div>
        </div>

        <div id="tabs-4">
          <b><%= I18n.t(:text_user_associated_projects) %></b>
          <br/>

          <div>
            <%= I18n.t(:label_filter_on_projects_version) %>
            <%= select_tag 'filter_user_projects_version', options_for_select([[I18n.t(:label_filter_on_project_version_1), 1], [I18n.t(:label_filter_on_project_version_2), 2], [I18n.t(:label_filter_on_project_version_3), 3], [I18n.t(:label_filter_on_project_version_4), 4]], :selected => 1), :include_blank => false %>
          </div>

          <div id="user_projects" class="field_checkbox">
            <%= render :partial => 'user_projects', :locals => {:projects => @projects, :project_users => @project_users} %>
          </div>
        </div>

        <div id="tabs-5">
          <table>
            <tr>
              <td><%= f.input :language_id, :label => I18n.t('label_language'), :as => :select, :collection => Language.defined_or_local.map { |i| [i.name, i.id] }.sort, include_blank: '(auto)', :selected => @user.language_id %></td>
              <td><%= f.input :time_zone, :label => I18n.t('time_zone'), :input_html => {:class => 'input-xlarge'}, :as => :select, :collection => ActiveSupport::TimeZone.all.map { |i| [i.to_s, i.name] }, :include_blank => false, :selected => @user.time_zone || 'GMT' %></td>
            </tr>
            <tr>
              <td><%= f.input :object_per_page, :label => I18n.t('object_per_page'), :input_html => {:class => 'input-small'}, :as => :select, :collection => [5, 10, 25, 50, 100], :include_blank => true, :selected => @user.object_per_page %></td>
            </tr>
            <!--
            <p><%= I18n.t(:assistance) %></p>
            <p><%= I18n.t(:notifications) %></p>
            <p><%= I18n.t(:display_format) %></p>
            <p><%= I18n.t(:decimal) %></p>
            <p><%= I18n.t(:thousands) %></p>
            <p><%= I18n.t(:first_day) %></p>
            <p><%= I18n.t(:first_week) %></p>
            <p><%= I18n.t(:export_preferences) %></p>
            -->
          </table>
        </div>

        <div class="actions">
          <% if action_name.in?(%w(new create)) %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
          <% end %>
          <%= submit_tag I18n.t('save'), :class => 'btn' %>
          <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <%= link_to I18n.t('back'), users_path, :class => 'btn' %>
        </div>
    </div>
<% end %>
