<div class="row-fluid">

  <div class="span6">
    <div class="widget">
      <div class="widget-header">
        <h3>
          WBS - <%= current_component %>
        </h3>
      </div>
      <div class="widget-content">
        <div class="span6">
          <%= render :partial => "users/pe_wbs" %>
        </div>
      </div>
    </div>

    <div class="widget">
      <div class="widget-header">
        <h3>
          Estimation Plan
        </h3>
      </div>
      <div class="widget-content">
        <%= render :partial => "projects/module_box", :locals => { :array_module_positions => @array_module_positions, :project => @project } %>
      </div>
    </div>
  </div>

  <div class="span6">
      <% unless current_component.nil? %>
        <%= form_tag({:controller => "projects", :action => "run_estimation", :component_id => current_component.id}, :method => "get", :remote => true) %>
          <% @project.module_projects.each do |mp| %>
            <div class="widget">
              <% if mp.compatible_with(current_component.work_element_type.alias) || current_component %>

              <div class="widget-header">
                <h3>
                  <%= mp.pemodule.title %> - <%= current_component.name %>
                </h3>
              </div>

              <div class="widget-content">
                <div class="">
                  <div class="portlet_<%= mp.id %>" >
                    <%# begin %>
                      <%= render :partial => "#{mp.pemodule.alias}/#{mp.pemodule.alias}.html.erb", :locals => {:resultat => @resultat} %>
                    <%# rescue %>
                      <strong>Please verify module installation</strong>
                    <%# end %>
                  </div>
                </div>
              </div>

              <% end %>
            </div>
          <% end %>

        <div class="submit_link">
          <%= submit_tag "Execute estimation process", :class => "btn btn-danger", :onclick => "loading();" %>
        </div>

      <% end %>
    </div>
  </div>
</div>