<table class="table table-striped table-bordered">
<thead>
<tr>
  <th><%= I18n.t(:first_name ) %></th>
  <th><%= I18n.t(:last_name ) %></th>
  <th><%= I18n.t(:login_name ) %></th>
  <th><%= I18n.t(:email ) %></th>
  <th><%= I18n.t(:last_login ) %></th>
  <th><%= I18n.t(:authentication ) %></th>
  <th><%= I18n.t(:record_status ) %></th>
  <th><%= I18n.t(:actions ) %></th>
</tr>
</thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %>
      <td><%= user.last_name %>
      <td><%= user.login_name %>
      <td><%= user.email %>
      <td><%= I18n.l (user.last_login)%>
      <td><%= user.auth_method %>
      <td><%= user.user_status %>
      <td>
        <%= link_to('', "users/#{user.id}/edit", :class => "icn_edit", :title => "Edit") +
            link_to('', "users/#{user.id}/activate", :class => "icn_jump_back", :title => "Activate") +
            link_to('', {:controller => "users", :action => "find_use_user", :user_id => user.id }, :remote => true, :class => "icn_find_use", :title => "Find Use") +
            link_to('', user, confirm: I18n.t("are_you_sur?"), method: :delete, :class => "icn_trash", :title =>I18n.t("delete"))
        %>

      </td>
    </tr>
  <% end %>
</table>

<table border="0" width="100%">
  <tr>
    <td style="text-align:right;">
      <% if @users.previous_page %>
        <%= link_to I18n.t("previous"), params.merge(page: @users.previous_page), :remote => true %>
      <% end %>
      Page <%= @users.current_page %> <%= I18n.t(:of ) %> <%= @users.total_pages %>
      <% if @users.next_page %>
        <%= link_to I18n.t("next"), params.merge(page: @users.next_page), :remote => true %>
      <% end %>
    </td>
    <td>
  </tr>
</table>
