<div class="span6">
  <div class="widget">
    <div class="widget-header">
      <h3>
        PE-WBS-ACTIVITY - <%= current_wbs_project_element %>
      </h3>
    </div>
    <div class="widget-content">
      <div class="span12">
        <%= render :partial => 'users/pe_wbs' %>
      </div>
    </div>
  </div>

  <div class="widget">
    <div class="widget-header">
      <h3>
        <%= I18n.t(:first_name ) %>
      </h3>
    </div>
    <div class="widget-content">
      <%= render :partial => 'projects/estimation_plan' %>
    </div>
  </div>
</div>

<div class="span6">
  <% unless current_component.nil? %>
      <%= form_tag({:controller => 'projects', :action => 'run_estimation', :pbs_project_element_id => current_component.id}, :method => 'get', :remote => true, :class => 'simple_form') %>
      <% @project.module_projects.each do |mp| %>
          <div class="widget">
            <% if mp.compatible_with(current_component.work_element_type.alias) || current_component %>

                <div class="widget-header">
                  <h3>
                    <%= mp.pemodule.title %> - <%= current_component.name %>
                  </h3>
                </div>

                <div class="widget-content">
                  <div class="">
                    <div class="portlet_<%= mp.id %>" >
                      <%# begin %>
                      <%# yield mp.pemodule.alias.to_sym %>
                      <%= render "#{mp.pemodule.alias}/#{mp.pemodule.alias}.html.erb", :locals => {:resultat => @resultat} %>
                      <%# rescue %>
                      <!--<strong>Please verify module installation</strong>-->
                      <%# end %>
                    </div>
                  </div>
                </div>

            <% end %>
          </div>
      <% end %>

      <div class="submit_link">
        <%= submit_tag I18n.t('execute_estimation'), :class => 'btn btn-danger', :onclick => 'loading();' %>
      </div>

  <% end %>
</div>
