<h2><%= link_to "ProjEstimate", "http://projestimate.org/" %></h2>
<p>
  Version : 0.6.0-Alpha.2+<%= COMMIT_VERSION %>  (<%= link_to "checking for new release", "http://projestimate.org/projects/pe/wiki/Download_and_ChangeLog" %>)
</p>

<p>
  Copyright © 2012 <%= link_to "Spirula", "http://Spirula.fr" %>
</p>

<p>
  ProjEstimate is open source and released under the terms of the <%= link_to "GNU AGPL-v3", "http://www.gnu.org/licenses/agpl-3.0.html" %>
  <br>
  Some external component or contributions bundled with ProjEstimate may be published under other AGPLv3-compatible licenses.
  For these, please refer to the relevant source files and/or license files, in the source code tree.
</p>

<p>
</p>

<% cache('about_page') do %>
  <span>
    <p>
      Latest update : <%= $latest_update.nil? ? "None" : $latest_update.in_time_zone(current_user.tz) %>
    </p>
    <p>
      Latest MasterData Repository update : <%= @latest_repo_update.nil? ? "None" : @latest_repo_update.in_time_zone(current_user.tz) %>
    </p>
    <%= link_to "Download and apply MasterData update", update_install_path(:latest_repo_update => @latest_repo_update), :class => "btn", :disable_with => "Please wait. It could take a while", :disabled => is_master_instance?, :onclick => "$('#spiner').toggle();" %>
    <%= image_tag "/assets/ajax-loader.gif", :id => "spiner", :class => "hide" %>
  </span>
<% end %>