<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:about) %> </a></li>
  </ul>

  <div id="tabs-1">

    <h2><%= link_to 'ProjEstimate', 'http://projestimate.org/' %></h2>

    <h4>Copyright © 2012-2013 <%= link_to 'Spirula', 'http://Spirula.fr' %></h4>

    <p>
      <%= I18n.t('text_projestimate_open_source') %> <%= link_to 'GNU AGPL-v3', 'http://www.gnu.org/licenses/agpl-3.0.html' %>
    </p>

    <p>
      <%= I18n.t('text_projestimate_open_source_references') %>
    </p>

    <hr class="bs-docs-separator">

    <dl class="dl-horizontal">
      <dt style='width: 250px; padding: 0 15px; '><%= I18n.t(:text_latest_update) %> </dt>
      <dd>
        <span class="label label-info"><%= @latest_local_update.nil? ? 'None' : I18n.l(@latest_local_update) %> </span>
      </dd>
      <dt style='width: 250px;padding: 0 15px; '><%= I18n.t(:text_latest_masterData_repository_update) %></dt>
      <dd>
        <span class="label label-info"> <%= @latest_repo_update.nil? ? 'None' : I18n.l(@latest_repo_update) %>  </span>
      </dd>
    </dl>


    <%= link_to I18n.t(:text_download_master_data), update_install_path(:latest_local_update => @latest_local_update, :latest_repo_update => @latest_repo_update), :class => 'btn', :disable_with => I18n.t(:text_please_wait), :disabled => is_master_instance?, :onclick => "$('#spiner').toggle();" %>
    <%= image_tag '/assets/ajax-loader.gif', :id => 'spiner', :class => 'hide' %>

    <hr class="bs-docs-separator">
    <h4> <%= I18n.t('label_environment') %> : </h4>
    <dl class="dl-horizontal">
      <dt>ProjEstimate version</dt>
      <dd><span class="label label-info">0.20.0-Beta.2+<%= COMMIT_VERSION %> </span>
        (<%= link_to I18n.t('text_checking_new_release'), 'http://projestimate.org/projects/pe/wiki/Download_and_ChangeLog' %>)
      </dd>
      <dt>Ruby version</dt>
      <dd><span class="label label-info"><%= RUBY_ENGINE %> <%= RUBY_VERSION %>p<%= RUBY_PATCHLEVEL %> [<%= RUBY_PLATFORM %>] </span></dd>
      <dt>Rails version</dt>
      <dd><span class="label label-info"> <%= Rails.version %> </span></dd>
      <dt>Environment</dt>
      <dd><span class="label label-info"> <%= Rails.env %> </span></dd>
      <dt>Database adapter</dt>
      <dd><span class="label label-info"> <%= ActiveRecord::Base.configurations[Rails.env]['adapter'] %> </span></dd>
    </dl>
  </div>
</div>