<div class="btn-box">

      <a href="<%= admin_settings_path %>" class="item">
        <img src="assets/statics.png" alt="Messages">
        <span><%= t(:globals_parameters) %></span>
      </a>

      <a href="<%= users_path %>" class="item">
        <img src="assets/statics.png" alt="Settings">
        <span><%= t(:gestion_des_utilisateurs) %></span>
      </a>

      <a href="<%= groups_path %>" class="item">
        <img src="assets/statics.png" alt="Support">
        <span><%= t(:gestion_des_groupes) %></span>
      </a>

      <a href="/globals_permissions" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_autorisations) %></span>
      </a>

      <a href="<%= project_securities_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_autorisations_specifiques) %></span>
      </a>

      <a href="<%= events_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:event_types) %></span>
      </a>

      <a href="<%= labor_categories_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:labors_categories) %></span>
      </a>
</div>
