<div class="btn-box">

      <a href="<%= master_settings_path %>" class="item">
        <img src="assets/statics.png" alt="Messages">
        <span><%= t(:projestimate_globals_parameters) %></span>
      </a>

      <a href="/projects_global_params"  class="item">
        <img src="assets/statics.png" alt="Settings">
        <span><%= t(:project_globals_parameters) %></span>
      </a>

      <a href="<%= attributes_path %>" class="item">
        <img src="assets/statics.png" alt="Support">
        <span><%= t(:gestion_des_attributs) %></span>
      </a>

      <a href="<%= pemodules_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_modules) %></span>
      </a>

      <a href="<%= work_element_types_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_work_element_types) %></span>
      </a>

      <a href="<%= project_security_levels_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_niveaux_dautorisations) %></span>
      </a>

      <a href="<%= permissions_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_autorisations_and_permissions) %></span>
      </a>

      <a href="<%= permissions_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:currency_management) %></span>
      </a>

      <a href="<%= languages_path %>" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_languages) %></span>
      </a>

      <a href="/translations" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:gestion_des_traductions) %></span>
      </a>

      <a href="#" class="item">
        <img src="assets/statics.png" alt="Statics">
        <span><%= t(:community) %></span>
      </a>
</div>