<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >

    <%= f.input :name, :label => "#{I18n.t "name"}", :input_html => { :class => 'input-xxlarge' } %>

    <%= f.input :description, :label => "#{I18n.t "description"}", :input_html => { :class => 'input-xxlarge' } %>

    <%= f.label "#{I18n.t "start_date"}" %>
    <%= f.text_field :start_date, :class => 'datepicker input-xxlarge', :value => (@event.start_date.nil? ? Time.now.strftime(I18n.t "date.formats.long") : I18n.l(@event.start_date)) %>

    <%= f.label "#{I18n.t "end_date"}" %>
    <%= f.text_field :end_date, :class => 'datepicker input-xxlarge', :value => (@event.end_date.nil? ? Time.now.strftime(I18n.t "date.formats.long") : I18n.l(@event.end_date))%>

    <%= f.input :event_type_id, :label => "#{I18n.t "event_types"}", :as => :select, :collection => @event_types, :input_html => { :class => 'input-xxlarge' }  %>

    <%= f.input :project_id, :label => "#{I18n.t "projects"}", :as => :select, :collection => @projects, :input_html => { :class => 'input-xxlarge' }  %>


  </div>
  <div class="actions">
    <%= f.submit I18n.t("save"), :class => "btn" %>
    <%= f.submit I18n.t("apply"), :class => "btn" %>
  </div>
<% end %>

