<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:events) %> </a></li>
  </ul>
  <div id="tabs-1">

    <%= simple_form_for(@event) do |f| %>
        <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being saved:</h2>

              <ul>
                <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div>

          <%= f.input :name, :label => "#{I18n.t 'name'}", :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>

          <%= f.input :description, :label => "#{I18n.t 'description'}", :input_html => {:class => 'input-xxlarge', :rows => 5} %>

          <%= f.label "#{I18n.t 'start_date'}" %>
          <%= f.text_field :start_date, :class => 'date-picker input-xxlarge', :value => (@event.start_date.nil? ? Time.now.strftime(I18n.t 'date.formats.default') : I18n.l(@event.start_date)) %>
          <script>
              $(document).ready(function () {
                  $(".date-picker").datepicker({
                      language: '<%= set_user_language %>',
                      autoclose: true,
                      todayHighlight: true,
                      todayBtn: true
                  });
              });
          </script>
          <%= f.label "#{I18n.t 'end_date'}" %>
          <%= f.text_field :end_date, :class => 'date-picker input-xxlarge', :value => (@event.end_date.nil? ? Time.now.strftime(I18n.t 'date.formats.default') : I18n.l(@event.end_date)) %>

          <%= f.input :event_type_id, :label => "#{I18n.t 'event_types'}", :as => :select, :collection => @event_types, :input_html => {:class => 'input-xxlarge'} %>

          <%= f.input :project_id, :label => "#{I18n.t 'projects'}", :as => :select, :collection => @projects, :input_html => {:class => 'input-small'} %>

        </div>
        <div class="actions-tabs">
          <%= f.submit I18n.t('save'), :class => 'btn' %>
          <%= f.submit I18n.t('apply'), :class => 'btn' %>
          <%= link_to I18n.t('back'), events_path, :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>
