<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= f.label :name, :label => "#{I18n.t "name"}"   %><br />
    <%= f.text_field :name %>

    <%= f.label :description, :label => "#{I18n.t "description"}"   %><br />
    <%= f.text_area :description %>

    <%= f.label :start_date, :label => "#{I18n.t "start_date"}"   %><br />
    <%= f.date_select :start_date, :order => [:day,:month,:year] %>

    <%= f.label :end_date, :label => "#{I18n.t "end_date"}"   %><br />
    <%= f.date_select :end_date, :order => [:day,:month,:year] %>

    <%= f.label :event_type_id, :label => "#{I18n.t "event_type_id"}"   %><br />
    <%= f.number_field :event_type_id %>

    <%= f.label :project_id, :label => "#{I18n.t "project_id"}"   %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit "#{I18n.t "save"}", :class => "btn" %>
    <%= f.submit "#{I18n.t "apply"}", :class => "btn" %>
  </div>
<% end %>
