<div class="span12">
  <h2><%= I18n.t(:events) %></h2>

  <table class="table table-striped">
    <tr>
      <th><%= I18n.t(:name) %></th>
      <th><%= I18n.t(:description) %></th>
      <th><%= I18n.t(:start_date) %></th>
      <th><%= I18n.t(:end_date) %></th>
      <th><%= I18n.t(:event_types) %></th>
      <th><%= I18n.t(:projects) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= I18n.l (event.start_date) unless event.start_date.nil? %></td>
      <td><%= I18n.l (event.end_date) unless event.end_date.nil? %></td>
      <td><%= event.event_type_id %></td>
      <td><%= event.project_id %></td>
      <td><%= link_to '',  edit_event_path(event), :class => 'icn_edit', :title => I18n.t('edit') %></td>
      <td><%= link_to '', event, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash', :title => I18n.t('delete') %></td>
    </tr>
  <% end %>
  </table>
  <%= link_to I18n.t('new_event'), new_event_path, :class => 'btn' %>

</div>
