<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:events) %></a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t('new_event'), new_event_path, :class => 'btn' %>
        </td>
      </tr>
    </table>
    <table class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th><%= I18n.t(:description) %></th>
        <th><%= I18n.t(:start_date) %></th>
        <th><%= I18n.t(:end_date) %></th>
        <th><%= I18n.t(:event_types) %></th>
        <th><%= I18n.t(:projects) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= I18n.l (event.start_date) unless event.start_date.nil? %></td>
            <td><%= I18n.l (event.end_date) unless event.end_date.nil? %></td>
            <td><%= event.event_type_id %></td>
            <td><%= event.project_id %></td>
            <td>
              <%= link_to '', edit_event_path(event), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <%= link_to '', event, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
      </tbody>
    </table>
  </div>
</div>
<script>
    <%= render :partial => 'layouts/sort_date', :handlers => [:erb], :formats => [:js] %>
</script>
