<table class="table table-striped">

  <tr>
    <th style="text-align:left"><%= I18n.t(:name) %></th>
    <th style="text-align:left"><%= I18n.t(:description) %></th>
    <th style="text-align:left"><%= I18n.t(:low) %></th>
    <th style="text-align:left"><%= I18n.t(:likely) %></th>
    <th style="text-align:left"><%= I18n.t(:high) %></th>
    <th style="text-align:left"><%= I18n.t(:in_out) %></th>
    <th style="text-align:left"><%= I18n.t(:mandatory) %></th>
    <th style="text-align:left"><%= I18n.t(:custom_attribute) %></th>
    <th style="text-align:left"><%= I18n.t(:projects) %></th>
    <th style="text-align:left"><%= I18n.t(:record_status) %></th>
    <th style="text-align:left"><%= I18n.t(:delete) %></th>
    <th style="text-align:left"><%= I18n.t(:validate) %></th>
  </tr>

  <% @attribute_settings.each_with_index do |ma, i| %>
    <%= hidden_field_tag 'attributes[]', ma.pe_attribute_id %>
    <tr class="">
      <td><%= ma.pe_attribute.nil? ? '-' : ma.pe_attribute.name %></td>
      <td><%= text_field_tag 'description[]', ma.description.blank? ? (ma.pe_attribute.nil? ? '-' :  ma.pe_attribute.description) : ma.description  %></td>
      <td><%= text_field_tag 'default_low[]', ma.default_low, :class => "input-mini #{ma.id} #{(ma.pe_attribute.attr_type == 'date') ? 'date-picker' : '' }" %></td>
      <td><%= text_field_tag 'default_most_likely[]', ma.default_most_likely, :class => "input-mini  #{ma.id}" %></td>
      <td><%= text_field_tag 'default_high[]', ma.default_high, :class => "input-mini #{ma.id}" %></td>
      <td><%= select_tag 'in_out[]', options_for_select([['input'], ['output'], ['both']], :selected => ma.in_out), :prompt => I18n.t('helpers.select.prompt'), :class => 'input-small' %> </td>
      <td><%= select_tag 'is_mandatory[]', options_for_select([['yes', true], ['no', false]], :selected => ma.is_mandatory), :prompt => I18n.t('helpers.select.prompt'), :class => 'input-small' %></td>
      <td><%= select_tag 'custom_attribute[]', options_for_select([['By user', 'user'], ['By module', 'module'], ['By project', 'project']], :selected => ma.custom_attribute), :onchange => "toggleProject(this.value, #{i});", :class => 'input-medium' %></td>
      <td><%= select_tag 'project_value[]', options_for_select(Project.attribute_names, :selected => ma.project_value), :style => ma.project_value.blank? ? 'display:none;' : '', :class => "project_attribute_#{i}", :include_blank => true %></td>
      <td><%= ma.record_status %></td>
      <td class="align-center"><%= link_to '', ma, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash' %></td>
      <td>
        <% if is_master_instance? && !ma.is_local_record? %>
            <% if ma.is_retired? %>
                <%= link_to(I18n.t('restore'), "/attribute_modules/#{ma.id}/restore_change", confirm: I18n.t('restoring'), :title => I18n.t('restore_title'))%>
            <% else %>
                <% unless ma.is_defined? %>
                    <%= link_to(I18n.t('validate'), "/attribute_modules/#{ma.id}/validate_change", confirm: I18n.t('validation'), :title => I18n.t('validate_title'))%>
                <% else %>
                  -
                <% end %>
            <% end %>
        <% end %>
      </td>
    </tr>
  <% end  %>
</table>

<script>
  function toggleProject(elem, i){
    if(elem == "project"){
      $(".project_attribute_" + i).show();
    }else{
      $(".project_attribute_" + i).hide();
      $(".project_attribute_" + i).val("");
    }
  }

  $(document).ready(function () {
      $(".date-picker").datepicker({
          language: '<%= set_user_language %>',
          autoclose: true,
          todayHighlight: true,
          todayBtn: true
      });
  });

</script>