<table class="table table-striped">
  <tr>
    <th style="text-align:left"><%= I18n.t(:name) %></th>
    <th style="text-align:left"><%= I18n.t(:description) %></th>
    <th style="text-align:left"><%= I18n.t(:low) %></th>
    <th style="text-align:left"><%= I18n.t(:likely) %></th>
    <th style="text-align:left"><%= I18n.t(:high) %></th>
    <th style="text-align:left"><%= I18n.t(:in_out) %></th>
    <th style="text-align:left"><%= I18n.t(:mandatory) %></th>
    <th style="text-align:left"><%= I18n.t(:custom_attribute) %></th>
    <th style="text-align:left"><%= I18n.t(:projects) %></th>
  </tr>

  <% @attribute_settings.each_with_index do |ma, i| %>
    <%= hidden_field_tag "attributes[]", ma.attribute_id %>
    <tr class="">
      <td><%= ma.attribute.nil? ? "-" : ma.attribute.name %></td>
      <td><%= text_field_tag "description[]", ma.description.blank? ? (ma.attribute.nil? ? "-" :  ma.attribute.description) : ma.description  %></td>
      <td><%= text_field_tag "numeric_data_low[]", ma.numeric_data_low, :class => "input-mini" %></td>
      <td><%= text_field_tag "numeric_data_most_likely[]", ma.numeric_data_most_likely, :class => "input-mini" %></td>
      <td><%= text_field_tag "numeric_data_high[]", ma.numeric_data_high, :class => "input-mini"  %></td>
      <td><%= select_tag "in_out[]", options_for_select([["input"], ["output"], ["both"]], :selected => ma.in_out), :prompt => "Choose...", :class => "input-small" %> </td>
      <td><%= select_tag "is_mandatory[]", options_for_select([["yes", true], ["no", false]], :selected => ma.is_mandatory), :prompt => "Choose...", :class => "input-small" %></td>
      <td><%= select_tag "custom_attribute[]", options_for_select([["By user", "user"], ["By module", "module"], ["By project", "project"]], :selected => ma.custom_attribute), :onchange => "toggleProject(this.value, #{i});", :class => "input-medium" %></td>
      <td><%= select_tag "project_value[]", options_for_select(Project.attribute_names, :selected => ma.project_value), :style => ma.project_value.blank? ? "display:none;" : "", :class => "project_attribute_#{i}", :include_blank => true %></td>
    </tr>
  <% end  %>
</table>

<script>
  function toggleProject(elem, i){
    if(elem == "project"){
      $(".project_attribute_" + i).show();
    }else{
      $(".project_attribute_" + i).hide();
      $(".project_attribute_" + i).val("");
    }
  }

</script>