<div class="tabs">

  <ul>
    <li><a href="#tabs-1">Global settings </a></li>
    <% unless @pemodule.is_typed %>
      <li><a href="#tabs-2">Attributes </a></li>
      <li><a href="#tabs-3">Attributes settings </a></li>
    <% end %>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@pemodule) do |f| %>
      <%= hidden_field_tag "id", (@pemodule.id || nil) %>
        <div >
          <%= f.input :title %>

          <%= f.input :alias %>

          <%= f.input :description %>

          <%= f.label :compatibility %>

        <table>
          <% @wets.each do |wet| %>
            <tr>
              <td><%= wet.name %></td>
              <% unless @pemodule.compliant_component_type.nil? %>
                  <td><%= check_box_tag "compliant_wet[]", wet.alias, @pemodule.compliant_component_type.include?(wet.alias) ? true : false  %></td>
              <% else %>
                  <td><%= check_box_tag "compliant_wet[]", wet.alias, false  %></td>
              <% end %>
            </tr>
          <% end %>
        </table>

      </div>

      <%= submit_tag "Update", :class => "btn btn-success"  %>
      <span class="on_success_global"></span>

    <% end -%>
  </div>

  <% unless @pemodule.is_typed %>

    <div id="tabs-2">
      <%= form_tag("/update_selected_attributes", :method => "get") do -%>
        <%= hidden_field_tag "module_id", @pemodule.id %>
          <table class="table table-striped">
            <tr>
              <th>Attributes name</th>
              <th>Selected</th>
              <th>Description</th>
            </tr>
              <% @attributes.each do |attr| %>
                <tr class="<%= cycle("even", "odd")%>">
                  <td><%= link_to attr.name, edit_attribute_path(attr) %></td>
                  <td><%= check_box_tag "attributes[]", "#{attr.id}", @attr_modules.map(&:attribute_id).include?(attr.id) ? true : false %></td>
                  <td><%= attr.description %></td>
                </tr>
              <% end %>
          </table>
          <%= submit_tag "Update", :class => "btn btn-success" %>
          <span class="on_success_attr"></span>
      <% end -%>
    </div>


      <div id="tabs-3">
        <%= form_tag("/set_attributes_module", :method => "get") do -%>
            <%= hidden_field_tag "module_id", @pemodule.id %>
            <div class="list_attr">
              <%= render :partial => "attribute_settings", :object => @attr_modules %>
            </div>
          <%= submit_tag "Update", :class => "btn btn-success"  %>
          <span class="on_success_attr_set"></span>
        <% end -%>
    </div>
  <% end %>

</div>