<div class="span12">

    <table border="0" width="100%">
        <tr>
          <td><h2>Projestimate Module</h2></td>
          <td style="text-align:right;">
            <%= link_to 'New Pemodule', new_pemodule_path, :class => "btn" %>
          </td>
        </tr>
    </table>

  <table class="table table-striped">

    <tr>
      <th>Title</th>
      <th>Alias</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="2" class="align-center">Actions</th>
    </tr>

    <% unless @pemodules.empty? %>
      <% @pemodules.each do |pemodule| %>
        <tr class="">
          <td><%= pemodule.title %></td>
          <td><%= pemodule.alias %></td>
          <td><%= pemodule.description %></td>
          <td class="align-center"><%= File.exists?("#{Rails.root}/vendor/plugins/#{pemodule.alias}/lib/#{pemodule.alias}.rb") ? raw("<div class='icn_alert_success'></div>") : raw("<div class='icn_alert_error'></div>") %></td>
          <td class="align-center"><%= link_to '', edit_pemodule_path(pemodule), :class => "icn_edit" %></td>
          <td class="align-center"><%= link_to '', pemodule, confirm: 'Are you sure?', method: :delete, :class => "icn_trash" %></td>
          <td>
            <% if pemodule.is_retired? %>
                <%= link_to('Restore', "pemodules/#{pemodule.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
            <% else %>
                <% unless pemodule.is_defined? %>
                    <%= link_to('Validate', "pemodules/#{pemodule.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
                <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No projestimate modules has been installed. Please refer to <%= link_to "official documentation", load_master_setting('url_wiki') %> to install projestimate modules.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <% end %>

  </table>

  <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to 'New Pemodule', new_pemodule_path, :class => "btn" %>
        </td>
      </tr>
  </table>

  <br />

</div>
