<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @ej_estimation_value.project_id %>
</p>

<p>
  <b>Pbs project element:</b>
  <%= @ej_estimation_value.pbs_project_element_id %>
</p>

<p>
  <b>Wbs activity element:</b>
  <%= @ej_estimation_value.wbs_activity_element_id %>
</p>

<p>
  <b>Minimum:</b>
  <%= @ej_estimation_value.minimum %>
</p>

<p>
  <b>Most likely:</b>
  <%= @ej_estimation_value.most_likely %>
</p>

<p>
  <b>Maximum:</b>
  <%= @ej_estimation_value.maximum %>
</p>

<p>
  <b>Probable:</b>
  <%= @ej_estimation_value.probable %>
</p>


<%= link_to 'Edit', edit_ej_estimation_value_path(@ej_estimation_value) %> |
<%= link_to 'Back', ej_estimation_values_path %>
