<div class="span12">
  <%= simple_form_for(@attribute) do |f| %>
    <%= f.error_notification %>

    <div >
      <%= f.input :name, :label => I18n.t('name') %>

      <%= f.input :alias %>

      <%= f.input :description, :label => I18n.t('description'), :title => 'Brief description of attribute', :input_html => {:rows => 3} %>

      <%= f.input :aggregation, :label => I18n.t('aggregation'), :as => :select, :collection => PeAttribute::type_aggregation %>

      <%= f.input :attr_type, :title => I18n.t('validation_options'), :label => 'Attributes type and values options' do %>
        <% if @attribute.options.empty? %>
          <%= select_tag 'options[]', options_for_select(PeAttribute::type_values), :onchange => 'select_value_options(this.value);', :prompt => I18n.t('helpers.select.prompt') %>
          <%= select_tag 'options[]', options_for_select(PeAttribute::value_options), :onchange => 'select_boolean(this.value);', :class => 'type_value', :style => 'display:none;', :prompt => I18n.t('helpers.select.prompt') %>
          <%= text_field_tag 'options[]', @attribute.options[2] , { :class => 'text_field_value', :style => 'display:none;' } %>
          <div class="pe_attribute_precision" style="display:none;">
            <%= f.input :precision, :label => "Precision", :input_html => { :rows => 3 } %>
          </div>
        <% else %>
          <%= select_tag 'options[]', options_for_select(PeAttribute::type_values, :selected => (@attribute.options[0] || @attribute.attr_type)), :onchange => 'select_value_options(this.value);', :prompt => I18n.t('helpers.select.prompt') %>
          <%= select_tag 'options[]', options_for_select(PeAttribute::value_options, :selected => @attribute.options[1]), :class => 'type_value', :prompt => I18n.t('helpers.select.prompt') %>
          <%= text_field_tag 'options[]', @attribute.options[2] , { :class => 'text_field_value'} %>
          <%= f.input :precision, :label => "Precision", :input_html => { :rows => 3 } %>
        <% end %>
      <% end %>

      <%= f.input :change_comment, :label => I18n.t('change_comment'), :input_html => { :rows => 3 } %>

      <%= f.association :record_status, :label => I18n.t('record_status'),
                        :collection => @attribute.record_status_collection,
                        :input_html => {:class => 'record_status'},
                        :selected => (@attribute.is_defined_or_nil? ? @proposed_status.id : @attribute.record_status_id),
                        :disabled => (true if @attribute.is_retired?) %><br />

      <%= f.input :custom_value, :label => I18n.t('custom_value'), :input_html => {:class => 'custom_value'}, :disabled => (true unless @attribute.is_custom?) %>
    </div>

    <div class="actions">
      <% if can? :update, @attribute %>
          <%= f.submit I18n.t('save'), :class => 'btn' %>
          <%= f.submit I18n.t('apply'), :class => 'btn' %>
      <% end %>
    </div>

  <% end %>

  <script>
    function select_value_options(elem){
      if(elem == null || elem == ""){
        $(".text_field_value").hide();
        $(".boolean_value").hide();
        $(".type_value").hide();
        $(".text_field_value").val("");
        $(".boolean_value").val("");
        $(".type_value").val("");
        $(".pe_attribute_precision").hide();
      }
      else if(elem == "list" || elem == "array")
      {
        $(".text_field_value").show();
        $(".boolean_value").hide();
        $(".type_value").hide();
        $(".boolean_value").val("");
        $(".type_value").val("");
        $(".pe_attribute_precision").hide();
      }
      else if(elem == "float"){
        $(".pe_attribute_precision").show();
      }
      else {
        $(".text_field_value").show();
        $(".type_value").show();
        $(".pe_attribute_precision").hide();
      }
    }
  </script>
</div>
