<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:pe_attributes) %></a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t('new_pe_attribute'), new_pe_attribute_path, :class => 'btn' %>
        </td>
      </tr>
    </table>

    <table class="table tablesorterPager table-striped table-bordered table-condensed ">
    <thead>
        <tr>
            <th><%= I18n.t(:name) %></th>
            <th>Alias</th>
            <th><%= I18n.t(:description) %></th>
            <th><%= I18n.t(:attributes_type) %></th>
            <th><%= I18n.t(:record_status) %></th>
            <th class="action"><%= I18n.t(:actions) %></th>
        </tr>
    </thead>

        <tbody>

          <% if @attributes.empty? %>
              <p style="text-align:center;"> <%= I18n.t('empty') %></p>
          <% else %>
              <% @attributes.each do |attribute| %>
                  <tr>
                    <td><%= attribute.name %></td>
                    <td><%= attribute.alias %></td>
                    <td><%= attribute.description %></td>
                    <td><%= attribute.attr_type.humanize %></td>
                    <td><%= attribute.record_status.name unless attribute.record_status.nil? %> <%= attribute.show_custom_value %></td>
                    <td>
                      <%= link_to '', edit_pe_attribute_path(attribute), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
                      <%= link_to('', {:controller => 'pe_attributes', :action => 'find_use', :pe_attribute_id => attribute.id}, :remote => true, :class => 'icon-info icon-large icon-border pull-left', :title => I18n.t('button_find_use')) %>
                      <%= link_to '', attribute, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>

                      <% if is_master_instance? && !attribute.is_local_record? %>
                          <% if attribute.is_retired? %>
                              <%= link_to('', "pe_attributes/#{attribute.id}/restore_change", confirm: I18n.t('restoring'),:class => 'icon-undo icon-large icon-border pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                          <% else %>
                              <% unless attribute.is_defined? %>
                                  <%= link_to('', "pe_attributes/#{attribute.id}/validate_change", confirm: I18n.t('validation'),:class => 'icon-ok icon-large icon-border pull-left', :style => 'color:green', :title => I18n.t('validate_title')) %>
                              <% end %>
                          <% end %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
        </tbody>

        <%= render :partial => 'layouts/footer_table' %>

        </tr>

      <% end %>
    </table>

    <table border="0" width="100%">
      <tr>
        <td>
          <% unless @pemodules.nil?%>
              <% @pemodules.each do |pemodule| %>
                  <%= pop_up("find_use_project_#{pemodule.id}", "#{project}'s relationships") do -%>
                      <%= raw build_find_use_project_popup(project.id) %>
                  <% end %>
              <% end %>
          <% end %>
        </td>
      </tr>
    </table>

  </div>
</div>



