<div class="module_box">
  <% module_projects = @project.module_projects %>

  <% if controller.controller_name == "projects" %>
    <p>
      <%= I18n.t(:select_module)%>
      <%= select_tag "select_module", options_for_select(Pemodule.all.map{|i| [i.title , i.id] }), :prompt => 'Add a Projestimate Module...' %>
      <%= select_tag "select_pbs_project_elements", options_for_select(@project.root_component.subtree.map{|i| [i.name , i.id] }), :prompt => 'Select a WBS Product' %>
      <%= hidden_field_tag "project_id", @project.id %>

      <%=  link_to "Associate PBS-element", pbs_element_matrix_path(@project.id), :class => "btn" %>
      <%=  link_to "Associate Projestimate Module each other", module_projects_matrix_path(@project.id), :class => "btn" %>
    </p>
  <% end %>

  <p> <%= @pbs_project_element.name if @pbs_project_element %></p>

  <% unless module_projects.empty? %>
    <% for i in 1..@module_positions %>

      <div style="position:absolute;left:200px;top:<%= i * 155 %>px" >
          <%= I18n.t(:etape) %> <%= i %>
      </div>

      <% ModuleProject.where(:project_id => @project.id, :position_y => i).each_with_index do |pmod, i| %>

        <div class="window <%= pmod.pemodule.alias %>" style="left:<%= pmod.position_x.to_i * 300 %>px;top:<%= pmod.position_y.to_i * 150 %>px;">
            <%= link_to pmod.pemodule.title, edit_module_project_path(pmod.id) %>
            <br>
            <%= link_to "", pemodules_left_path(pmod.id), :class => 'icon-arrow-left' %>
            <%= link_to "", pemodules_up_path(pmod.id), :class => 'icon-arrow-up' %>
            <%= link_to "", pmod, confirm: I18n.t("are_you_sur?"), method: :delete, :class => 'icon-trash' %>
            <%= link_to "", pemodules_down_path(pmod.id), :class => 'icon-arrow-down' %>
            <%= link_to "", pemodules_right_path(pmod.id), :class => 'icon-arrow-right' %>
        </div>

        <% pmod.associated_module_projects.each do |amp| %>
          <% if pmod.associated_module_projects.map(&:id).include?(amp.id) %>
          <script>
            jsPlumb.bind("ready", function() {
              jsPlumb.draggable($(".window"));
              $('div.module_box').css({'height':(($(document).height()))+'px'});

              jsPlumb.setRenderMode(jsPlumb.CANVAS);
              jsPlumb.connect({
                source:$(".<%= amp.pemodule.alias %>"),
                target:$(".<%= pmod.pemodule.alias %>"),
                endpoint:"Dot",
                anchor:"Continuous",
                connector:[ "Straight" ]
              });
            });
          </script>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p><%= I18n.t(:no_estimation_plan)%></p>
  <% end %>
</div>


