<div class="module_box">
  <% module_projects = @project.module_projects %>

  <% unless module_projects.empty? %>
    <% for j in 1..@module_positions %>

      <div class="" >
        <div class="window span2" >
            <%= I18n.t(:step) %> <%= j %>
        </div>
      </div>


      <div class="row">
        <% ModuleProject.where(:project_id => @project.id, :position_y => j).each_with_index do |pmod, i| %>

          <% if @pbs_project_element %>
            <% if pmod.pbs_project_elements.map(&:id).include?(@pbs_project_element.id) %>
              <% pbs_class = 'highlight' %>
            <% end %>
          <% end %>

          <div class="<%= pbs_class %> window span2 <%= pmod.pemodule.alias %> ">
              <%= link_to pmod.pemodule.title, edit_module_project_path(pmod.id) %>
              <br>
              <%= link_to '', pemodules_left_path(pmod.id), :class => 'icon-arrow-left' %>
              <%= link_to '', pemodules_up_path(pmod.id), :class => 'icon-arrow-up' %>
              <%= link_to '', pmod, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-trash' %>
              <%= link_to '', pemodules_down_path(pmod.id), :class => 'icon-arrow-down' %>
              <%= link_to '', pemodules_right_path(pmod.id), :class => 'icon-arrow-right' %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p><%= I18n.t(:no_estimation_plan)%></p>
  <% end %>
</div>