<% action_name = controller.action_name %>
<% if ["new", "edit"].include?(action_name) %>
  <h2><%= ("#{action_name}" == "new")? "New Project" : "Update Project"%></h2>
<% else %>
  <h1><%= action_name.humanize %> <%= current_project.title %></h1>
<% end %>


<%= simple_form_for(@project) do |f| %>
    <%= f.error_notification %>
<div class="tabs">
  <ul>
    <li><a href="#tabs-1">Global properties </a></li>
    <% if action_name == "edit" %>
      <li><a href="#tabs-2">PE-WBS </a></li>
      <li><a href="#tabs-3">Estimation plan </a></li>
      <li><a href="#tabs-4">Securities </a></li>
      <li><a href="#tabs-5">Calendrier </a></li>
      <li><a href="#tabs-6">Ressource </a></li>
      <li><a href="#tabs-7">Analyse </a></li>
    <% end %>
  </ul>


  <div id="tabs-1">

    <%= f.input :title, :input_html => { :class => 'input-xxlarge' } %>

    <%= f.input :description, :input_html => { :class => 'input-xxlarge' } %>

    <%= f.input :alias, :input_html => { :class => 'input-xxlarge' } %>

    <%= f.input :state, :as => :select, :collection => @project.states, :input_html => { :class => 'input-xxlarge' } %>

    <%= f.input :start_date, :as => :date, :start_year => Date.today.year, :end_year => Date.today.year, :discard_day => true do %>
      <%= f.text_field :start_date, :class => 'datepicker input-xxlarge', :onclick => "$(this).datepicker();", :value => Time.now.strftime("%d/%m/%y") %>
    <% end %>

    <%= f.input :organization_id, :as => :select, :collection => @organizations, :input_html => { :class => 'input-xxlarge' }  %>

    <%= f.input :project_area_id, :as => :select, :collection => @project_areas, :input_html => { :class => 'input-xxlarge' }  %>

    <%= f.input :acquisition_category_id, :as => :select, :collection => @acquisition_categories, :input_html => { :class => 'input-xxlarge' }  %>

    <%= f.input :platform_category_id, :as => :select, :collection => @platform_categories, :input_html => { :class => 'input-xxlarge' }  %>

    <%= f.input :project_category_id, :as => :select, :collection => @project_categories, :input_html => { :class => 'input-xxlarge' }  %>

  </div>

  <% unless action_name == "new" %>
    <div id="tabs-4">
      <h3>User securities resume</h3>
      <table class="table table-striped">
        <tr>
          <th>User name</th>
          <% ProjectSecurityLevel.all.each do |prj_level| %>
            <th><%= prj_level.name %></th>
         <% end %>
        </tr>
        <% @project.users.each do |user| %>
          <% securities = user.project_securities_for_select(@project.id) %>
          <tr>
             <td><%= user.name %>
             <% ProjectSecurityLevel.all.each do |prj_level| %>
               <td><%= radio_button_tag("user_securities_#{user.id}", prj_level.id, ((securities.nil? || securities.project_security_level.nil?) ? false : (securities.project_security_level.id == prj_level.id))) %> </td>
              <% end %>
          </tr>
        <% end %>
      </table>


      <h3>Group securities resume</h3>
      <table class="table table-striped">
        <tr>
          <th>Group name</th>
          <% ProjectSecurityLevel.all.each do |prj_level| %>
            <th><%= prj_level.name %></th>
         <% end %>
        </tr>
        <% @project.groups.each do |group| %>
          <% securities = group.project_securities_for_select(@project.id) %>
          <tr>
             <td><%= group.name %>
             <% ProjectSecurityLevel.all.each do |prj_level| %>
               <td><%= radio_button_tag("group_securities_#{group.id}", prj_level.id, (securities.nil? ? false : (securities.project_security_level.id == prj_level.id))) %> </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>

    <div id="tabs-2">
       <div class="component_tree">
         <% unless @project.nil? || @project.wbs.nil? %>
           <%=raw generate_wbs(@project.wbs.components.last.root, @project, "", 5) %>
         <% end %>
       </div>
    </div>

    <div id="tabs-3">
      <div class="module_box">
        <%= render :partial => "module_box", :locals => { :array_module_positions => @array_module_positions, :project => @project } %>
      </div>
      <div style="clear: both"></div>
    </div>
  <% end %>

    <div id="tabs-5">
        <div style="clear: both"></div>
    </div>

    <div id="tabs-6">
        <div style="clear: both"></div>
    </div>

    <div id="tabs-7">
        <div style="clear: both"></div>
    </div>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-success" %>
      <%= f.submit "Apply", :class => "btn btn-success" %>
    </div>

  </div>

</div>

<% end %>

<script>
  $(document).ready(function() {

    $("#user_id").change(
            function () {
              $.ajax({ url:'/load_security_for_selected_user',
                data:'user_id=' + this.value + '&project_id=' + <%= @project.id %>
              })
            }
    );

    $("#group_id").change(
            function () {
              $.ajax({ url:'/load_security_for_selected_group',
                data:'group_id=' + this.value + '&project_id=' + <%= @project.id %>
              })
            }
    );

      $('#select_module').change(function(){
        $.ajax({url: '/add_module',
                method: 'get',
                data: 'module_selected=' + this.value + '&project_id=' + <%= @project.id %>
        })
      });

    });
</script>

