<table class="table tablesorterPager table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th><%= I18n.t(:name) %></th>
    <th>Alias</th>
    <th><%= I18n.t(:record_status) %></th>
    <th><%= I18n.t(:start_date) %></th>
    <th><%= I18n.t(:organizations) %></th>
    <th class="action"><%= I18n.t(:actions) %></th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.alias %></td>
        <td><%= project.state %></td>
        <td><%= I18n.l(project.start_date) unless project.start_date.nil? %></td>
        <td><%= project.organization %></td>
        <td class="action" style="width: 160px">
          <%=
              (project.baseline? || project.access_locked? || project.closed?) ?
                      commit = link_to('', '#', :class => 'icn_commit') :
                      commit = link_to('', {:controller => 'projects', :action => 'commit', :project_id => project.id}, :class => 'icon-ok-circle icon-large icon-border pull-left', :title => 'Commit')

              link_to('', "projects/#{project.id}/edit", :class => 'icon-pencil icon-large icon-border pull-left', :title => 'Edit') +
                      link_to('', {:controller => 'projects', :action => 'activate', :project_id => project.id}, :class => 'icon-star icon-large icon-border pull-left', :title => 'Activate') +
                      link_to('', {:controller => 'projects', :action => 'find_use', :project_id => project.id}, :remote => true, :class => 'icon-info icon-large icon-border pull-left', :title => 'Find use') +
                      commit +
                      link_to('', "projects/#{project.id}/duplicate", :class => 'icon-copy icon-large icon-border pull-left', :title => 'Duplicate') +
                      #link_to('', project, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash', :title => I18n.t('delete'))
                      link_to('', "projects/#{project.id}/confirm_deletion", :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete'))
              ###link_to('', "", :class => 'icn_trash', :title => I18n.t('delete'), :onclick => "return myconfirm('Delete project','#{project.title}','/projects/#{project.id}/destroy');")
          %>
        </td>
      </tr>
  <% end %>

  <%= render :partial => 'layouts/footer_table' %>
  </tbody>
</table>

<table border="0" width="100%">
  <tr>
    <td>
      <% @projects.each do |project| %>
          <%= pop_up("find_use_project_#{project.id}", "#{project}'s relationships") do -%>
              <%= raw build_find_use_project_popup(project.id) %>
          <% end %>
      <% end %>
    </td>
  </tr>
</table>