<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:projects) %></a></li>
  </ul>

  <div id="tabs-1">

    <table border="0" width="100%">
      <tr>
        <td colspan=2 style="text-align:right;">
          <% if can? :create_project_from_template, Project %>
            <%= link_to I18n.t('new_project_from'), projects_from_path, :class => 'btn' %>
          <% end %>

          <% if can? :create_project_from_scratch, Project %>
            <%= link_to I18n.t('new_project'), new_project_path, :class => 'btn' %>
          <% end %>

          <%= link_to "testeMe", "/homes/testme" %>
        </td>
      </tr>
    </table>

    <div id="projects">
      <%= render :partial => 'projects', :object => @projects -%>
    </div>

  </div>
</div>