<div class="span12">
  <div id="parameter_title">
    <h2>Projects Globals Parameters</h2>
  </div>

  <div class="tabs">
    <ul>
        <li><a href="#tabs-1">Project Area</a></li>
        <li><a href="#tabs-2">Project Categories</a></li>
        <li><a href="#tabs-3">Platform Categories</a></li>
        <li><a href="#tabs-4">Acquisition Categories</a></li>
    </ul>

    <div id="tabs-1">

      <table border="0" width="100%">
        <tr>
          <td><h2>Project Area</h2></td>
          <td style="text-align:right;">
            <%= link_to 'New Project Area', new_project_area_path, :class => "btn" %>
          </td>
        </tr>
      </table>

      <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

          <% ProjectArea.all.each do |i| %>
             <tr>
               <td><%= i.name %></td>
               <td><%= i.description %></td>
               <td><%= i.record_status.name unless i.record_status.nil? %></td>
               <td><%= link_to '', edit_project_area_path(i), :class => "icn_edit", :title => "Edit"  %></td>
               <td><%= link_to '', i, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete"  %></td>
               <td>
                 <% if i.is_retired? %>
                     <%= link_to('Restore', "project_areas/#{i.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
                 <% else %>
                     <% unless i.is_defined? %>
                         <%= link_to('Validate', "project_areas/#{i.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
                     <% end %>
                 <% end %>
               </td>
             </tr>
          <% end %>
        </table>
    </div>

    <div id="tabs-2">

      <table border="0" width="100%">
        <tr>
          <td><h2>Project Category</h2></td>
          <td style="text-align:right;">
            <%= link_to 'New Project Category', new_project_category_path, :class => "btn" %>
          </td>
        </tr>
      </table>

        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

          <% ProjectCategory.all.each do |i| %>
             <tr>
               <td><%= i.name %></td>
               <td><%= i.description %></td>
               <td><%= i.record_status.name unless i.record_status.nil? %></td>
               <td><%= link_to '', edit_project_category_path(i), :class => "icn_edit", :title => "Edit"  %></td>
               <td><%= link_to '', i, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete"  %></td>
               <td>
                 <% if i.is_retired? %>
                     <%= link_to('Restore', "project_categories/#{i.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
                 <% else %>
                     <% unless i.is_defined? %>
                         <%= link_to('Validate', "project_categories/#{i.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
                     <% end %>
                 <% end %>
               </td>
             </tr>
          <% end %>
        </table>
    </div>

    <div id="tabs-3">

      <table border="0" width="100%">
        <tr>
          <td><h2>Platform Category</h2></td>
          <td style="text-align:right;">
            <%= link_to 'New Platform Category', new_platform_category_path, :class => "btn" %>
          </td>
        </tr>
      </table>

      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% PlatformCategory.all.each do |i| %>
           <tr>
             <td><%= i.name %></td>
             <td><%= i.description %></td>
             <td><%= i.record_status.name unless i.record_status.nil? %></td>
             <td><%= link_to '', edit_platform_category_path(i), :class => "icn_edit", :title => "Edit"  %></td>
             <td><%= link_to '', i, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete"  %></td>
             <td>
               <% if i.is_retired? %>
                   <%= link_to('Restore', "platform_categories/#{i.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
               <% else %>
                   <% unless i.is_defined? %>
                       <%= link_to('Validate', "platform_categories/#{i.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
                   <% end %>
               <% end %>
             </td>
           </tr>
        <% end %>
      </table>
    </div>

    <div id="tabs-4">

      <table border="0" width="100%">
        <tr>
          <td><h2>Acquisition Category</h2></td>
          <td style="text-align:right;">
            <%= link_to 'New Acquisition Category', new_acquisition_category_path, :class => "btn" %>
          </td>
        </tr>
      </table>

      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% AcquisitionCategory.all.each do |i| %>
           <tr>
             <td><%= i.name %></td>
             <td><%= i.description %></td>
             <td><%= i.record_status.name unless i.record_status.nil? %></td>
             <td><%= link_to '', edit_acquisition_category_path(i), :class => "icn_edit", :title => "Edit"  %></td>
             <td><%= link_to '', i, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete"  %></td>
             <td>
               <% if i.is_retired? %>
                   <%= link_to('Restore', "acquisition_categories/#{i.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
               <% else %>
                   <% unless i.is_defined? %>
                       <%= link_to('Validate', "acquisition_categories/#{i.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
                   <% end %>
               <% end %>
             </td>
           </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

