<div class="span12">
  <%= simple_form_for(@permission) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>

      <%= f.input :description, :input_html => { :rows => 3 } %>

      <%= f.input :is_permission_project, :as => :select, :collection => [true, false] %>

      <%= f.input :object_associated, :as => :select, :collection => ActiveRecord::Base.connection.tables.map{|t| t.classify }.compact.reject{|j| j == "SchemaMigration" } %> <br />

      <%= f.input :change_comment, :input_html => { :rows => 3 } %>

      <%= f.association :record_status, :label => "Status",
                        :collection => @permission.record_status_collection,
                        :input_html => {:class => "record_status"},
                        :selected => (@permission.is_defined_or_nil? ? @proposed_status.id : @permission.record_status_id),
                        :disabled => (true if @permission.is_retired?) %><br />

      <%= f.input :custom_value, :input_html => {:class => "custom_value"}, :disabled => (true unless @permission.is_custom?) %><br />

      <div class="actions">
        <% if can? :update, @permission %>
            <%= f.submit "Save", :class => "btn btn-success" %>
            <%= f.submit "Apply", :class => "btn btn-success" %>
        <% end %>
    </div>
  <% end %>
</div>
