<div class="span12">
  <h1><%= I18n.t(:global_permission) %></h1>

  <%= form_tag({:action=> 'set_rights', :controller=> 'permissions'}, :method => 'post', :class => 'simple_form') do %>
    <table class="table table-striped table-bordered table-condensed permissions">
      <tr>
        <th style="text-align:left;"><%= I18n.t(:permissions) %></th>
        <% @groups.each do |group| %>
          <th style="text-align:center;">
            <%= group.name %>
          </th>
        <% end %>
      </tr>

        <% for perm in @permissions %>
          <% tr_class = cycle('even','odd') %>
          <tr class="<%= tr_class %>">
            <td><%= link_to perm.description, edit_permission_path(perm) %></td>
            <% @groups.each do |group| %>
              <td style="text-align: center;">
                <%= check_box_tag("permissions[#{group.id}][]", perm.id, (group.permissions.map(&:id).include? perm.id), :id => nil, :class => "group_#{group.id}")%>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <%= submit_tag I18n.t('save'), :class => 'btn' %>
    <% end %>
</div>
