<div class="tabs">

  <ul>
    <li><a href="#tabs-global"><%= I18n.t(:global_permissions) %></a></li>
    <% if is_master_instance? %>
      <li><a href="#tabs-master"><%= I18n.t(:master_permissions) %></a></li>
    <% end %>
    <li><a href="#tabs-projects"><%= I18n.t(:project_permissions) %></a></li>
  </ul>

  <%= form_tag(set_rights_path, :method => 'post', :class => 'simple_form') do %>

    <div id="tabs-global">
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th style="text-align:left;"><%= I18n.t(:permissions) %></th>
          <% @groups.each_with_index do |group, i| %>
            <th>
              <span class="attribute_tooltip" title='<%= group.description %>'><%= group.name %></span>
              &nbsp;
              <%= link_to '', '#', :id => "cols_select_all_global_#{group.id}", 'data-group_global_id' => group.id, 'data-rows_or_cols_global' => 'cols', :remote => true, :class => 'icon-check icon check_color', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_global_id', 'permission_global_id', 'global');" %>
            </th>
          <% end %>
        </tr>

        <% @permissions_classes_globals.each do |cla| %>
            <tr>
              <th style="text-align:left; vertical-align:middle;">
                <%= cla.blank? ? '' : cla %>
              </th>
              <% @groups.each do |group| %>
                  <th style="text-align:center; font-style:italic; vertical-align:bottom; font-size: 85%; color: #999; border-left: 0;">
                    <%= group.name %>
                  </th>
              <% end %>
            </tr>
            <% @global_permissions.each do |perm| %>
                <tr>
                  <% if perm.category.to_s == cla %>
                      <td>
                        &nbsp;
                        <%= link_to '', '#', :id => "lines_select_all_global_#{perm.id}", 'data-permission_global_id' => perm.id, 'data-rows_or_cols_global' => 'rows', :remote => true, :class => 'icon-check icon check_color', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_global_id', 'permission_global_id', 'global');" %>
                        &nbsp;
                        <span class="attribute_tooltip" title='<%= perm.description %>'><%= perm.name %></span>
                      </td>
                      <% @groups.each do |group| %>
                          <%= hidden_field_tag "permissions[#{group.id}][]" %>
                          <td style="text-align: center;">
                            <%= check_box_tag("permissions[#{group.id}][]", perm.id, (group.permissions.map(&:id).include? perm.id), :id => nil, :class => "group_global_id_#{group.id} permission_global_id_#{perm.id}") %>
                          </td>
                      <% end %>
                  <% end %>
                </tr>
            <% end %>
        <% end %>

      </table>
      <%= submit_tag I18n.t('apply'), :class => 'btn' %>
      <%= submit_tag I18n.t('cancel'),  :class => 'btn' %>
    </div>

    <% if is_master_instance? %>
      <div id="tabs-master">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th style="text-align:left;"><%= I18n.t(:permissions) %></th>
            <% @groups.each do |group| %>
                <th style="text-align:center;">
                  <span class="attribute_tooltip" title='<%= group.description %>'><%= group.name %></span>
                  &nbsp;
                  <%= link_to '', '#', :id => "cols_select_all_master_#{group.id}", 'data-group_master_id' => group.id, 'data-rows_or_cols_master' => 'cols', :remote => true, :class => 'icon-check icon check_color', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_master_id', 'permission_master_id', 'master');" %>
                </th>
            <% end %>
          </tr>

          <% @permissions_classes_masters.each do |cla| %>
              <tr>
                <th style="text-align:left; vertical-align:middle;">
                  <%= cla.blank? ? '' : cla %>
                </th>
                <% @groups.each do |group| %>
                    <th style="text-align:center; font-style:italic; vertical-align:bottom; font-size: 85%; color: #999; border-left: 0;">
                      <%= group.name %>
                    </th>
                <% end %>
              </tr>
              <% @master_permissions.each do |perm| %>
                <tr>
                  <% if perm.category.to_s == cla %>
                      <td>
                        &nbsp;
                        <%= link_to '', '#', :id => "lines_select_all_master_#{perm.id}", 'data-permission_master_id' => perm.id, 'data-rows_or_cols_master' => 'rows', :remote => true, :class => 'icon-check icon check_color', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'group_master_id', 'permission_master_id', 'master');" %>
                        &nbsp;
                        <span class="attribute_tooltip" title='<%= perm.description %>'><%= perm.name %></span>
                      </td>
                      <% @groups.each do |group| %>
                          <td style="text-align: center;">
                            <%= check_box_tag("permissions[#{group.id}][]", perm.id, (group.permissions.map(&:id).include? perm.id), :id => nil, :class => "group_master_id_#{group.id} permission_master_id_#{perm.id}") %>
                          </td>
                      <% end %>
                  <% end %>
                </tr>
              <% end %>
          <% end %>

        </table>
        <%= submit_tag I18n.t('apply'), :class => 'btn' %>
        <%= submit_tag I18n.t('cancel'),  :class => 'btn' %>
      </div>
    <% end %>
  <% end %>

  <div id="tabs-projects">
    <%= form_tag({:action => 'set_rights_project_security', :controller => 'permissions'}, :method => 'post', :class => 'simple_form') do %>
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th style="text-align:left;"><%= I18n.t(:permissions) %></th>
          <% @project_security_levels.each do |ps| %>
            <th style="text-align:center;">
              <span class="attribute_tooltip" title='<%= ps.description %>'><%= ps.name %></span>
              &nbsp;
              <%= link_to '', '#', :id => "cols_select_all_project_security_#{ps.id}", 'data-project_security_id' => ps.id, 'data-rows_or_cols_project_security' => 'cols', :remote => true, :class => 'icon-check icon check_color', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'project_security_id', 'permission_project_id', 'project_security');" %>
            </th>
          <% end %>
        </tr>

        <tbody>
        <% @permissions_classes_projects.each do |cla| %>
          <tr>
            <th style="text-align:left; vertical-align:middle;">
              <%= cla.blank? ? '' : cla %>
            </th>
            <% @project_security_levels.each do |ps| %>
              <th style="text-align:center; font-style:italic; vertical-align:bottom; font-size: 85%; color: #999; border-left: 0;">
                <%= ps.name %>
              </th>
            <% end %>
          </tr>
          <% @permission_projects.each do |perm| %>
            <tr>
              <% if perm.category.to_s == cla %>
                <td>
                  &nbsp;
                  <%= link_to '', '#', :id => "lines_select_all_project_security_#{perm.id}", 'data-permission_project_id' => perm.id, 'data-rows_or_cols_project_security' => 'rows', :remote => true, :class => 'icon-check icon check_color', :title => I18n.t('select_unselect_all'), :onclick => "select_or_unselect_all_permissions(this, 'project_security_id', 'permission_project_id', 'project_security');" %>
                  &nbsp;
                  <span class="attribute_tooltip" title='<%= perm.description %>'><%= perm.name %></span>
                </td>
                <% @project_security_levels.each do |ps| %>
                  <td style="text-align: center;">
                    <%= check_box_tag("permissions[#{ps.id}][]", perm.id, (ps.permissions.map(&:id).include? perm.id), :id => nil, :class => "project_security_id_#{ps.id} permission_project_id_#{perm.id}") %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>

      </table>
      <%= submit_tag I18n.t('apply'), :class => 'btn' %>
      <%= submit_tag I18n.t('cancel'),  :class => 'btn' %>
    <% end %>
  </div>

</div>

