<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:global_permission) %></a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t('new_permission'), new_permission_path, :class => 'btn' %>
        </td>
      </tr>
    </table>

    <table class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:permissions) %></th>
        <th class="filter-select"><%= I18n.t(:is_permission_project) %></th>
        <th class="filter-select">I18n.t('object_associated')</th>
        <th class="filter-select"><%= I18n.t(:record_status) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <% @permissions.each do |perm| %>
          <tr>
            <td><%= perm.name %></td>
            <td><%= perm.is_permission_project %></td>
            <td><%= perm.object_associated %></td>
            <td><%= perm.record_status.name unless perm.record_status.nil? %><%= perm.show_custom_value %></td>
            <td>
              <%= link_to '', edit_permission_path(perm), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
            <%= link_to '', perm, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% if is_master_instance? && !perm.is_local_record? %>
                  <% if perm.is_retired? %>
                      <%= link_to('', "permissions/#{perm.id}/restore_change", confirm: I18n.t('restoring'),:class => 'icon-undo icon-large icon-border pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                  <% else %>
                      <% unless perm.is_defined? %>
                          <%= link_to('', "permissions/#{perm.id}/validate_change", confirm: I18n.t('validation'),:class => 'icon-ok icon-large icon-border pull-left', :style => 'color:green', :title => I18n.t('validation')) %>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>

      <%= render :partial => 'layouts/footer_table' %>
    </table>

  </div>
</div>

