<div class="span12">
  <h1>Icons</h1>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
    <% @icons.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= image_tag i.icon.url(:small) %></td>
        <td><%= i.record_status.name unless i.record_status.nil? %> <%= i.show_custom_value %></td>
        <td><%= link_to '', edit_peicon_path(i), :class => "icn_edit", :title => "Edit" %></td>
        <td><%= link_to '', i, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
        <td>
          <% if i.is_retired? %>
              <%= link_to('Restore', "peicons/#{i.id}/restore_change", confirm: 'Do you confirm restoring this record as defined ?', :title => "restore changes")%>
          <% else %>
              <% unless i.is_defined? %>
                  <%= link_to('Validate', "peicons/#{i.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to "Add an icon", new_peicon_path, :class => "btn" %>

</div>
