<div class="span12">

  <%= simple_form_for(@activity_category) do |f| %>

    <h1><%= controller.controller_name.humanize.singularize %> </h1>

    <div >
      <%= f.input :id %><br />

      <%= f.input :name %><br />

      <%= f.input :description %><br />

      <%= f.input :alias %><br />

      <%= f.input :project_area_id %><br />
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
