<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Alias</th>
    <th>Project area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_categories.each do |activity_category| %>
  <tr>
    <td><%= activity_category.id %></td>
    <td><%= activity_category.name %></td>
    <td><%= activity_category.description %></td>
    <td><%= activity_category.alias %></td>
    <td><%= activity_category.project_area_id %></td>
    <td><%= link_to 'Show', activity_category %></td>
    <td><%= link_to 'Edit', edit_activity_category_path(activity_category) %></td>
    <td><%= link_to 'Destroy', activity_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity category', new_activity_category_path %>
