<table class="table tablesorterPager table-striped table-bordered table-condensed">
  <tr>
    <th><%= I18n.t(:name) %></th>
    <th><%= I18n.t(:description) %></th>
    <th>Alias</th>
    <th><%= I18n.t(:project_area) %></th>
    <th><%= I18n.t(:record_status) %></th>
    <th class="action"></th>
    <th class="action"></th>
    <th class="action"></th>
    <th class="action"></th>
  </tr>

<% @activity_categories.each do |activity_category| %>
  <tr>
    <td><%= activity_category.name %></td>
    <td><%= activity_category.description %></td>
    <td><%= activity_category.alias %></td>
    <td><%= activity_category.project_area_ids %></td>
    <td><%= activity_category.record_status.name unless activity_category.record_status.nil? %> <%= activity_category.show_custom_value %></td>
    <td><%= link_to '', edit_activity_category_path(activity_category), :class => 'icn_edit', :title => I18n.t('edit') %></td>
    <td><%= link_to '', activity_category, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icn_trash', :title => I18n.t('delete') %></td>
    <td class="action" >
      <% if is_master_instance? && !activity_category.is_local_record?%>
          <% if activity_category.is_retired? %>
              <%= link_to(I18n.t('restore'), "activity_categories/#{activity_category.id}/restore_change", confirm: I18n.t('restoring'), :title => I18n.t('restore_title'))%>
          <% else %>
              <% unless activity_category.is_defined? %>
                  <%= link_to(I18n.t('validate'), "activity_categories/#{activity_category.id}/validate_change", confirm: I18n.t('validation'), :title => I18n.t('validate_title'))%>
              <% end %>
          <% end %>
      <% end %>
    </td>

  </tr>
<% end %>
  <%= render :partial => 'layouts/footer_table' %>
</table>

<br />

<%= link_to I18n.t('new_activity_category'), new_activity_category_path %>
