<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @activity_category.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity_category.description %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @activity_category.alias %>
</p>

<p>
  <strong>Project area:</strong>
  <%= @activity_category.project_area_id %>
</p>


<%= link_to 'Edit', edit_activity_category_path(@activity_category) %> |
<%= link_to 'Back', activity_categories_path %>
