<div class="span12">
  <h3><%= I18n.t(:search_results ) %></h3>
  <% if @results.empty? %>
      <p><%= I18n.t(:no_results ) %> <strong><%= params[:search] %></strong></p>
  <% else %>
      <ul>
          <% classes = @results.map{ |i| i.class }.uniq %>
          <% classes.each do |cla| %>
              <ul>
                  <li><strong><%= cla.to_s %></strong></li>
                  <% @results.each do |res| %>
                      <% if res.class == cla %>
                          <li><%= display_link(res, params[:search]) %>
                          <li><%= display_description(res, params[:search]) %>. <%= display_update(res, params[:search]) %>
                      <% end %>
                  <% end %>
              </ul>
          <% end %>
      </ul>
  <% end %>
</div>