<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:search_results) %></a></li>
  </ul>

  <div id="tabs-1">
    <% if @results.empty? %>
        <p><%= I18n.t(:no_results) %> <strong><%= params[:search] %></strong></p>
    <% else %>
        <ul>
          <% classes = @results.map { |i| i.class }.uniq %>
          <% classes.each do |cla| %>
              <ul>
                <li><strong><%= cla.to_s %></strong></li>
                <% @results.each do |res| %>
                    <% if res.class == cla %>
                        <li><%= display_link(res, params[:search]) %>
                        <li><%= display_update(res, params[:search]) %>
                    <% end %>
                <% end %>
              </ul>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>