<div class="span12">
  <%= simple_form_for(@acquisition_category) do |f| %>

    <div >
      <%= f.input :name %>

      <%= f.input :description, :input_html => { :rows => 3 } %>

      <%= f.input :change_comment, :input_html => { :rows => 3 } %><br />

      <%= f.association :record_status, :label => "Status", :selected => (@acquisition_category.is_defined_or_nil? ? @proposed_status.id : @acquisition_category.record_status_id), :disabled => (true if @acquisition_category.is_retired?) %><br />
    </div>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-success" %>
      <%= f.submit "Apply", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
