<div class="span12">
  <%= simple_form_for(@acquisition_category) do |f| %>

    <h1><%= controller.controller_name.humanize.singularize %> </h1>

    <div >
      <%= f.input :name %>

      <%= f.input :description, :input_html => { :rows => 3 } %>

      <%= f.input :change_comment, :input_html => { :rows => 3 } %><br />

      <%= f.association :record_status, :label => "Status", :selected => @proposed_status.id %><br />
    </div>

    <div class="actions">
      <%= f.submit "Save", :class => "btn btn-success" %>
      <%= f.submit "Apply", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
