<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:text_organization_uow_complexity) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@organization_uow_complexity) do |f| %>
      <%= f.input :organization_id, :as => :hidden, :input_html => {:class => 'input-xxlarge', :value => @organization.id || params[:organization_id]} %>
      <%= f.input :name, :label => I18n.t('name'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
      <%= f.input :description, :label => I18n.t('description'), :input_html => {:class => 'input-xxlarge', :rows => 5} %>
      <%= f.input :unit_of_work_id, as: :select, collection: @organization.unit_of_works.map{|i|[i.name, i.id]} %>
      <%= f.input :factor_id, as: :select, collection: Factor.all.map{|i|[i.name, i.id]} %>
      <%= f.input :value, :label => I18n.t('value'), :input_html => {:class => 'input-xxlarge'} %>
      <table>
        <tr>
          <td><%= f.input :display_order, :label => I18n.t('display_order'), :input_html => {:class => 'input-small'} %></td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td><%= f.input :state, :label => I18n.t('state'), :as => :select, :collection => OrganizationUowComplexity.aasm_states_for_select, :input_html => {:class => 'input-large'} %></td>
        </tr>
      </table>
      <% if can? :edit_organizations, Organization %>
        <div class="actions-tabs">
          <% if action_name == 'new' || action_name=='create' %>
            <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
            <%= submit_tag I18n.t('save'), :class => 'btn' %>
          <% elsif action_name == 'edit' || action_name=='update' %>
            <%= submit_tag I18n.t('save'), :class => 'btn' %>
            <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
      <% end %>

      <%= link_to I18n.t('back'), edit_organization_path(@organization || params[:organization_id], :anchor => 'tabs-5'), :class => 'btn' %>
      </div>

    <% end %>
  </div>
</div>