<div class="span12">
  <h2>Reference value</h2>
  <%= simple_form_for(@reference_value) do |f| %>
    <%= f.error_notification %>

    <%= f.input :value, :input_html => { :class => 'input-xxlarge' } %>

    <% if is_master_instance? %>
        <%= f.input :change_comment, :input_html => { :rows => 3 } %>

        <%= f.input :record_status_id, :as => :select, :label => "Status", :required => (is_master_instance? ? true : false),
                    :collection => @reference_value.record_status_collection,
                    :input_html => {:class => "record_status"},
                    :selected => (@reference_value.is_defined_or_nil? ? @proposed_status.id : @reference_value.record_status_id),
                    :disabled => (true if @reference_value.is_retired?) %><br />

        <%= f.input :custom_value, :input_html => {:class => "custom_value"}, :disabled => (true unless @reference_value.is_custom?) %><br />
    <% end %>

    <%= f.submit "Save", :class => "btn"%>
    <%= f.submit "Apply", :class => "btn"%>
  <% end %>
</div>
