<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:reference_values) %> </a></li>
  </ul>

  <div id="tabs-1">
    <%= simple_form_for(@reference_value) do |f| %>
        <%= f.error_notification %>

        <%= f.input :value, :label => I18n.t('value'), :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>

        <% if is_master_instance? %>

            <table>
              <tr>
                <td>
                  <%= f.input :record_status_id, :label => I18n.t('record_status'), :as => :select, :required => (is_master_instance? ? true : false),
                              :collection => @reference_value.record_status_collection,
                              :input_html => {:class => 'record_status'},
                              :selected => (@reference_value.is_defined_or_nil? ? @proposed_status.id : @reference_value.record_status_id),
                              :disabled => (true if @reference_value.is_retired?) %>
                </td>
                <td>
                  <%= f.input :custom_value, :label => I18n.t('custom_value'), :input_html => {:class => 'custom_value'}, :disabled => (true unless @reference_value.is_custom?) %>
                </td>
              </tr>
            </table>
            <%= f.input :change_comment, :label => I18n.t('change_comment'), :input_html => {:class => 'input-xxlarge', :rows => 2} %>
        <% end %>
        <div class="actions">
          <%= f.submit I18n.t('save'), :class => 'btn' %>
          <%= f.submit I18n.t('apply'), :class => 'btn' %>
          <%= link_to I18n.t('back'), reference_values_path, :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>
