<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:reference_values) %> </a></li>
  </ul>

  <div id="tabs-1">
    <table border="0" width="100%">
      <tr>
        <td style="text-align:right;">
          <%= link_to I18n.t('new_reference_value'), new_reference_value_path, :class => 'btn' %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:reference_values) %></th>
        <th><%= I18n.t(:record_status) %></th>
        <th><%= I18n.t(:actions) %></th>
      </tr>
      </thead>
      <% @reference_values.each do |r| %>
          <tr>
            <td><%= r.value %></td>
            <td><%= r.record_status.name unless r.record_status.nil? %> <%= r.show_custom_value %></td>
            <td>
              <%= link_to '', edit_reference_value_path(r), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <%= link_to '', r, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% if is_master_instance? && !r.is_local_record? %>
                  <% if r.is_retired? %>
                      <%= link_to('', "reference_values/#{r.id}/restore_change", confirm: I18n.t('restoring'),:class => 'icon-undo icon-large icon-border pull-left', :style => 'color:orange', :title => I18n.t('restore_title')) %>
                  <% else %>
                      <% unless r.is_defined? %>
                          <%= link_to('', "reference_values/#{r.id}/validate_change", confirm: I18n.t('validation'),:class => 'icon-ok icon-large icon-border pull-left', :style => 'color:green', :title => I18n.t('validate_title')) %>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>

    </table>

  </div>
</div>