<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:organizationals_labors_categories) %> </a></li>
  </ul>

  <div id="tabs-1">

    <%= simple_form_for(@organization_labor_category) do |f| %>
        <div>
          <div style="color:red"><i class="icon-ambulance icon-large icon-border pull-left"></i> Not yet implemented. I'm sure someone is working hard to solve this problem<br /> </div>
          <br />
          <%= f.input :name, :input_html => {:class => 'input-xxlarge', :autofocus => (controller.action_name == 'new')} %>
          <%= f.input :description, :input_html => {:class => 'input-xxlarge', :rows => 5} %>
          <table>
            <tr>
              <td><%= f.input :organization_id %></td>
              <td><%= f.input :labor_category_id %></td>
            </tr>
            <tr>
              <td><%= f.input :level %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= f.input :cost_per_hour %></td>
              <td><%= f.input :base_year %></td>
            </tr>
            <tr>
              <td><%= f.input :currency_id %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= f.input :hour_per_day %></td>
              <td><%= f.input :days_per_year %></td>
            </tr>
          </table>
        </div>

        <div class="actions-tabs">
          <% if action_name == 'new' || action_name=="create" %>
              <%= submit_tag I18n.t('save_and_create'), :class => 'btn' %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
          <% elsif action_name == 'edit' || action_name == "update" %>
              <%= submit_tag I18n.t('save'), :class => 'btn' %>
              <%= submit_tag I18n.t('apply'), :class => 'btn' %>
          <% end %>
          <%= link_to I18n.t('back'), '/organizationals_params#tabs-3', :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>