<%= simple_form_for(@organization_labor_category) do |f| %>
   <div >

    <%= f.input :organization_id %>

    <%= f.input :labor_category_id %>

    <%= f.input :level %>

    <%= f.input :name %>

    <%= f.input :description %>

    <%= f.input :cost_per_hour %>

    <%= f.input :base_year %>

    <%= f.input :currency_id %>

    <%= f.input :hour_per_day %>

    <%= f.input :days_per_year %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('save'), :class => 'btn' %>
    <%= f.submit I18n.t('apply'), :class => 'btn' %>
  </div>
<% end %>
