<h1>Listing organization_labor_categories</h1>

<table class="table table-striped">
  <tr>
    <th>Organization</th>
    <th>Labor category</th>
    <th>Level</th>
    <th>Name</th>
    <th>Description</th>
    <th>Cost per hour</th>
    <th>Base year</th>
    <th>Currency</th>
    <th>Hour per day</th>
    <th>Days per year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organization_labor_categories.each do |organization_labor_category| %>
  <tr>
    <td><%= organization_labor_category.organization_id %></td>
    <td><%= organization_labor_category.labor_category_id %></td>
    <td><%= organization_labor_category.level %></td>
    <td><%= organization_labor_category.name %></td>
    <td><%= organization_labor_category.description %></td>
    <td><%= organization_labor_category.cost_per_hour %></td>
    <td><%= organization_labor_category.base_year %></td>
    <td><%= organization_labor_category.currency_id %></td>
    <td><%= organization_labor_category.hour_per_day %></td>
    <td><%= organization_labor_category.days_per_year %></td>
    <td><%= link_to 'Show', organization_labor_category %></td>
    <td><%= link_to 'Edit', edit_organization_labor_category_path(organization_labor_category) %></td>
    <td><%= link_to 'Destroy', organization_labor_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization labor category', new_organization_labor_category_path %>
