<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @organization_labor_category.id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @organization_labor_category.organization_id %>
</p>

<p>
  <strong>Labor category:</strong>
  <%= @organization_labor_category.labor_category_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @organization_labor_category.level %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization_labor_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization_labor_category.description %>
</p>

<p>
  <strong>Cost per hour:</strong>
  <%= @organization_labor_category.cost_per_hour %>
</p>

<p>
  <strong>Base year:</strong>
  <%= @organization_labor_category.base_year %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @organization_labor_category.currency_id %>
</p>

<p>
  <strong>Hour per day:</strong>
  <%= @organization_labor_category.hour_per_day %>
</p>

<p>
  <strong>Days per year:</strong>
  <%= @organization_labor_category.days_per_year %>
</p>


<%= link_to 'Edit', edit_organization_labor_category_path(@organization_labor_category) %> |
<%= link_to 'Back', organization_labor_categories_path %>
