<div class="span12">
  <h1>Master Settings</h1>

  <table class="table table-striped">
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @master_settings.each do |master_setting| %>
    <tr >
      <td><%= master_setting.key %></td>
      <td><%= master_setting.value %></td>
      <td><%= master_setting.record_status.name unless master_setting.record_status.nil? %></td>
      <td><%= link_to '', edit_master_setting_path(master_setting), :class => "icn_edit", :title => "Edit" %></td>
      <td><%= link_to '', master_setting, confirm: 'Are you sure?', method: :delete, :class => "icn_trash", :title => "Delete" %></td>
      <td>
          <% if master_setting.is_proposed? %>
              <%= link_to('Validate', "master_settings/#{master_setting.id}/validate_change", confirm: 'Do you confirm changes validation on this record?', :title => "validate changes")%>
          <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= link_to 'New Master setting', new_master_setting_path, :class => "btn" %>
</div>