<div class="span12">
  <%= simple_form_for(@organization) do |f| %>

    <h1><%= controller.controller_name.humanize.singularize %> </h1>

    <%= f.input :name %><br />
    <%= f.input :description %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
