<div class="span12">
  <%= simple_form_for(@organization) do |f| %>

    <%= f.input :name , :label => "#{I18n.t "name"}"%><br />
    <%= f.input :description, :label => "#{I18n.t "description"}" %>

    <div class="actions">
      <%= f.submit "#{I18n.t "save"}", :class => "btn" %>
      <%= f.submit "#{I18n.t "apply"}", :class => "btn" %>
    </div>
<% end %>
</div>
