<h4 class="ui-widget">&nbsp;<i class="icon-reorder icon-large"></i>&nbsp;<b><%= I18n.t(:organization_setting) %> </b>
</h4>

<div class="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t(:organizations) %></a></li>
    <li><a href="#tabs-2"><%= I18n.t(:inflation) %></a></li>
    <li><a href="#tabs-3"><%= I18n.t(:organizationals_labors_categories) %></a></li>
  </ul>

  <div id="tabs-1">
    <% if can? :create_organizations, Organization %>
        <table border="0" width="100%">
          <tr>
            <td style="text-align:right;">
              <%= link_to I18n.t('new_organization'), new_organization_path, :class => 'btn' %>
            </td>
          </tr>
        </table>
    <% end %>

    <table class="table tablesorterPager table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th><%= I18n.t(:name) %></th>
        <th><%= I18n.t(:description) %></th>
        <th class="action"><%= I18n.t(:actions) %></th>
      </tr>
      </thead>

      <tbody>
      <% @organizations.each do |i| %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.description %></td>
            <td>
              <%= link_to '', edit_organization_path(i), :class => 'button_attribute_tooltip icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
              <% if can? :manage, Organization %>
                  <%= link_to '', i, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'button_attribute_tooltip icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'layouts/footer_table' %>
      </tbody>
    </table>
  </div>

  <div id="tabs-2">
    <div style="color:red"><i class="icon-ambulance icon-large icon-border pull-left"></i> Not yet implemented. I'm sure
      someone is working hard to solve this problem<br/>
    </div>
  </div>

  <div id="tabs-3">
    <div style="color:red"><i class="icon-ambulance icon-large icon-border pull-left"></i> Not yet implemented. I'm sure
      someone is working hard to solve this problem<br/>
    </div>
    <% if can? :manage, Organization %>
        <table border="0" width="100%">
          <tr>
            <td style="text-align:right;">
              <%= link_to I18n.t('new_organization_labor_category'), new_organization_labor_category_path, :class => 'btn' %>
            </td>
          </tr>
        </table>

        <table class="table tablesorterPager table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th><%= I18n.t(:name) %></th>
            <th><%= I18n.t(:description) %></th>
            <th class="action"><%= I18n.t(:actions) %></th>
          </tr>
          </thead>

          <tbody>
          <% @organizations_labor_categories.each do |i| %>
              <tr>
                <td><%= i.name %></td>
                <td><%= i.description %></td>
                <td>
                  <%= link_to '', edit_organization_labor_category_path(i), :class => 'icon-pencil icon-large icon-border pull-left', :title => I18n.t('edit') %>
                  <%= link_to '', i, confirm: I18n.t('are_you_sur'), method: :delete, :class => 'icon-remove icon-large icon-border pull-left', :style => 'color:red', :title => I18n.t('delete') %>
                </td>
              </tr>
          <% end %>
          <%= render :partial => 'layouts/footer_table' %>
          <tbody>
          </table>
    <% end %>
  </div>
</div>



