<%= form_tag "set_abacus", :method => 'POST', :class => 'simple_form' do %>
    <table>
      <tr>
        <td>
          <b><%= I18n.t(:text_organization_abacus) %></b>
        </td>
        <td>&nbsp;&nbsp; </td>
        <td>
          <%= select_tag "technology", options_for_select(OrganizationTechnology.all.map { |i| [i.name, i.id] }, :selected => @ot.nil? ? '' : @ot.id) %>
        </td>
      </tr>
      </table>
      <br/>
      <table class="table table-striped table-bordered table-condensed permissions">
        <tr>
          <th style="text-align:left;"><%= I18n.t(:organization_abacus) %></th>
          <% @complexities.each do |ouc| %>
              <th class="text-center">
                <%= ouc.name %>
              </th>
          <% end %>
        </tr>

        <% if @unitofworks %>
            <% @unitofworks.each do |unit| %>
                <tr>
                  <td>
                    <%= unit.name %>
                  </td>
                  <% @complexities.each do |c| %>
                      <td style="text-align: center;">
                        <% a = AbacusOrganization.where(:unit_or_work_id => unit.id,
                                                        :organization_uow_complexity_id => c.id,
                                                        :organization_technology_id => @ot,
                                                        :organization_id => @organization.id).first %>
                        <%= text_field_tag "abacus[#{unit.id}][#{c.id}]", a.nil? ? '' : a.value, :class => "span2" %>
                      </td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>

      <%= submit_tag I18n.t('save'), :class => 'btn' %>
      <%= submit_tag I18n.t('apply'), :class => 'btn' %>
<% end %>
