  <ul class="nav">

    <li>
    </li>

    <li>
      <a href="<%= edit_user_path(current_user) %>">
        <i class="icon-home"></i>
        Connected as <%= current_user %>
      </a>
    </li>

    <li>
      <a href="<%= log_out_path %>#">
        <i class="icon-off"></i>
        Logout
      </a>
    </li>

    <li>
      <a href="<%= load_master_setting('url_wiki') %>">
        <i class="icon-file"></i>
        Help
      </a>
    </li>

    <li>
      <a href="<%= load_master_setting('url_service') %>">
        <i class="icon-eye-open"></i>
        Services
      </a>
    </li>

    <li>
      <a href="/about">
        <i class="icon-asterisk"></i>
        About
      </a>
    </li>

  </ul>