<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= @page_title ? @page_title : controller.action_name %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'projestimate_script' %>

  <%= javascript_heads %>
  <%= csrf_meta_tag %>

</head>
<body>
<%= render 'layouts/modal' %>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <%= link_to(content_tag(:div, '', :class => 'logoEstimate'), '/dashboard') %>
        </div>
        <div style="margin-top:16px;">
          <%= render 'layouts/search_input' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <%= render 'layouts/user_account' %>
      <div id="notifications">
        <%= render 'layouts/notifications' %>
      </div>

    </div>
  </div>
</div>


<div class="row-fluid">
  <div id="sidebar" class="span2">
    <%= render 'layouts/sidebar_menu' %>
  </div>

  <div id="mycontent" class="span10">
    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
<script type="text/javascript">
    $("#toggle_button").click(function(){
      $('#sidebar').toggle();
      $('#mycontent').toggleClass("span10");
      $("#toggle_button > i").toggleClass("icon-angle-right");
      $("#toggle_button > i").toggleClass("icon-angle-down");
    });
</script>
