<!DOCTYPE html>
<html>
<head>
  <title>Projestimate</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

   <script type="text/javascript">
    $(document).ready(function() {

    $(".login_username").focus(function(){
        $(".login_username").val("");
    });

      $(".login_pw").focus(function(){
        $(".login_pw").val("");
    });

    setTimeout(hideFlashes, 5000);
    });
    var hideFlashes = function() {
      $("#login_error").fadeOut(2000);
    }
  </script>


</head>
<body class="login">

  <div class="login_background">
    <div class="login_window">
      <div class="login_wrapper"> </div>
      <div class="login_information">
        <% if controller.controller_name == 'password_resets' %>
            <%= render 'sessions/retrieve_password' %>
        <% elsif controller.controller_name == 'sessions' && controller.action_name == 'reset_forgotten_password'%>
            <%= render :template=> 'sessions/reset_forgotten_password' %>
        <% else %>
            <%= render 'sessions/new' %>
        <% end %>
      </div>
    </div>
  </div>

<script>

</script>

</body>
</html>